[2018-09-15 04:03] #639 closed

[2018-09-15 04:09] interactivellama commented on #669
This just adds a class, whether SLDS supports it or not is up to SLDS. Right now, `.slds-context-bar--theme-marketing` is the only one in SLDS 2.x

[2018-09-15 04:09] #669 closed

[2018-09-15 22:01] #1493 closed

[2018-09-16 05:32] interactivellama commented on #1089
Once this is working in Combobox, it should be ported to work in `Dropdown`. Then, the mix-in can be removed from `Dropdown` and `Dropdown` can become an ES6 class

[2018-09-17 05:19] #959 closed, assigned to nobody

[2018-09-17 05:44] michaelcavallaro03 opened #1558 "Invalid prop `type` of value `file`"
After utilizing the Input component to upload files, I noticed that there was no 'file' input PropType in the Input Component's Document or within the input.jsx source file.

As expected, the following console error is thrown:
![screen shot 2018-09-16 at 11 42 22 pm](https://user-images.githubusercontent.com/27144805/45607550-644ce380-ba0a-11e8-800a-3b256d4f6b1f.png)

I will begin working on the p

[2018-09-17 05:55] interactivellama commented on #1558
@michaelcavallaro03 Thanks you for the offer. Adding the type is a good additional, but file uploads should use https://lightningdesignsystem.com/components/file-selector/ if you'd like to contribute the base variant of that component instead. It is not currently in this library.

[2018-09-17 16:46] shaundr opened #1559 "Toast role="status" instead of role="alert""
Toast currently has the role attribute set to "alert", SLDS documentation specifies it as "status".

DSR Toast Snapshot:
https://github.com/salesforce/design-system-react/blob/master/components/toast/__tests__/__snapshots__/toast.snapshot-test.jsx.snap#L9

Toast documentation:
https://lightningdesignsystem.com/components/toast/#site-main-content

[2018-09-17 17:27] interactivellama commented on #1559
Yeah, it can updated. I've asked the SLDS team if we need to remove "the focus grab" also, on their GUS channel.

[2018-09-17 18:03] interactivellama commented on #1559
OK, SLDS says keep focus because of the links are present. Let's just align to role status as you said.

[2018-09-17 20:56] #844 closed

[2018-09-19 04:51] #1551 closed

[2018-09-19 04:57] #1369 closed

[2018-09-19 08:48] interactivellama opened #1561 "Convert createReactClass components to ES6 Classes"
Convert classes that use createReactClass to ES6 Classes.

[2018-09-20 09:30] Niondir commented on #1547
I know that, but then `children` is just the property from the item list, no the actual children of my `CustomDataTableCell` which is confusing. It would be more clear when the item property is stored in some separate property and leave the React children behavior default.

Since thats a breaking change, at least having the real children available would be nice.

[2018-09-20 14:05] interactivellama commented on #1547
Are you saying you want something like a `cellContainer` prop that allows a custom `div`, too?

[code]

I believe the initial reason behind this was was to hard code the `truncate` class and `title` into the UX pattern, but I'm open to allowing it not to be there.

[2018-09-20 22:40] interactivellama opened #1566 "Focus on Popover within Portal Mount scroll window"
If a Popover is opened with `position="overflowBoundaryElement"`, then a `span` is added to the `body` element. When the popover is given focused, the window scrolls down to the `span`.

The `span` *should not* be scrolled down to.

[2018-09-21 11:32] nikitosinar opened #1568 "Add Support style prop for Alert and Toast component"
What do you think about support prop style for Alert and Toast components?
I can do pull request for this

[2018-09-21 15:31] interactivellama commented on #1568
Sounds good. Please proceed. It should land on the `slds-notify_alert` and `slds-notify_toast` nodes.

[2018-09-21 19:24] interactivellama opened #1569 "Audit of CSS class change / Update VerticalNavigation markup"
**TL:DR; With the update to modified-BEM CSS class names, based upon SLDS CSS rule changes, vertical navigation and datepicker were the only component found to have a bad css name converting `--` to `_`.** I will file a bug with SLDS.

https://releasenotes.docs.salesforce.com/en-us/summer17/release-notes/rn_lds.htm

Image captures of 222 stories of components in Storybook between the pre-CSS chang

[2018-09-21 21:07] interactivellama opened #1571 "Datepicker width is the same as the input"
![screen shot 2018-09-21 at 3 06 52 pm](https://user-images.githubusercontent.com/1290832/45906060-fdd01880-bdaf-11e8-88c7-9c1ec4bcb56e.png)

http://design-system-react-components.herokuapp.com/?selectedKind=SLDSDatePicker&selectedStory=Default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2018-09-21 21:21] interactivellama opened #1573 "Shade classes have been removed from Vertical Navigation"
This is an SLDS issue. If background shade is not coming back, then we should deprecate shade variant of the prop.

[2018-09-25 10:40] Niondir opened #1576 "width attribute is missing in DataTable <th> tags"
When using a fixed layout the width is ignored since the <th> tags are missing the `style="width: 10rem;"`. On the rows it's properly rendered.

I'm using version 0.8.14

[2018-09-25 10:47] Niondir commented on #1576
seems solved in latest.

[2018-09-25 10:47] #1576 closed

[2018-09-25 14:43] seirykborys opened #1577 "add ref, data, className props to radio input"
what do you think about adding ( ref, data, className ) props  to radio input ?
if it's ok, i can do it.

[2018-09-25 16:40] jgerigmeyer opened #1578 "Tooltip component ("base" variant) with no children throws error in development mode."
The Tooltip component has default content/children if none are provided (https://github.com/salesforce/design-system-react/blob/master/components/tooltip/index.jsx#L169-L180).

However, in `componentWillMount` it first calls `checkProps` (https://github.com/salesforce/design-system-react/blob/master/components/tooltip/index.jsx#L156) which in turn calls `isTriggerTabbable` (if the Tooltip has `var

[2018-09-25 21:20] jgerigmeyer opened #1580 "DataTable with "stacked" (or "stackedHorizontal") is broken."
Based on SLDS, a "stacked" data table on mobile should look something like:

![screenshot 2018-09-25 16 39 08](https://user-images.githubusercontent.com/552316/46041743-8c5ed580-c0e1-11e8-9014-12d59de931e0.jpg)

...and a "stackedHorizontal" data table should look similar to:

![screenshot 2018-09-25 16 39 43](https://user-images.githubusercontent.com/552316/46041772-a00a3c00-c0e1-11e8-9b0b-ad7d016

[2018-09-26 08:25] Niondir opened #1581 "Missing Card without header"
On the `<Card>` component the Header is not optional. I often use Cards for tables below a `<PageHeader>` where the Card Header might be redundant in some cases (depending on the Page).

Would you consider to make the Card header optional or are there other ways to put a Border and Background around my table?

One workaround might be:
`slds-box  slds-theme_default` which would give the border and

[2018-09-28 20:28] jgerigmeyer commented on #1581
I ran into this same issue -- my temporary workaround was just to add `.slds-card` to the contents (in my case a `DataTable`).

[2018-09-28 20:33] interactivellama commented on #1581
Yeah, that's what it would be. A `hasNoHeader` prop is fine if that would be helpful @Niondir to wrap the `children` prop.

[2018-09-28 20:33] jgerigmeyer opened #1582 "Typo in DataTable stackedHorizontal className."
The SLDS class for a responsive DataTable with stacked-horizontal cells is `slds-max-medium-table_stacked-horizontal`, but there's a typo where that class is defined: https://github.com/salesforce/design-system-react/blob/master/components/data-table/index.jsx#L311-L312

PR in #1579.

[2018-09-28 20:38] jgerigmeyer opened #1583 "Media Objects are inconsistently vertical-aligned in Page Header variants."
In the `base` PageHeader, the MediaObject has `verticalCenter` automatically set (https://github.com/salesforce/design-system-react/blob/master/components/page-header/private/base/index.jsx#L33). In the `objectHome` () and `recordHome` () variants, however, it is not vertically aligned. Is there a reason for those to be inconsistent? It would seem to make sense for them all to have `verticalCenter

[2018-09-28 20:39] interactivellama commented on #1577
@seirykborys Unless you know something I don't, I think the value is a `string` in the HTML spec and that `event.target.value` will always return a string, and I would lean to wanting to keep the value type the same across "input" and "output".

https://reactjs.org/docs/forms.html
https://www.w3.org/wiki/HTML/Elements/input/radio

What do you think?

[2018-10-02 20:26] #684 closed, assigned to nobody

[2018-10-02 20:57] #1550 closed

[2018-10-02 21:55] #1561 closed

[2018-10-03 04:46] #1582 closed

[2018-10-03 04:51] #1568 closed

[2018-10-03 13:56] #1188 closed

[2018-10-04 10:44] seirykborys opened #1588 "Input: Add styleInput prop"
What do you think about adding such props as  errorText and inputStyle from datePicker to input?
I have already created PR with this changes, and it would be nice if you approve it.

[2018-10-04 15:16] interactivellama commented on #1588
Datepicker takes an `<Input />` as `children`. I think that is what you are looking for. https://react.lightningdesignsystem.com/components/date-pickers/#prop-children

This allows any prop that is in `Input` to be passed in. I'm going to close, but feel free to re-open if you can't use `<Input errortext="test"/>`. https://react.lightningdesignsystem.com/components/inputs/#prop-errorText

Of even

[2018-10-04 15:19] #1577 closed

[2018-10-04 18:50] interactivellama commented on #1588
Re-opening. There is no style prop for Input right now. Please update the pull request to only add `styleInput` to Input. Please add a DOM markup test to confirm it works. By that I mean, add an example to storybook called `Custom Style` in https://github.com/salesforce/design-system-react/blob/master/components/input/__docs__/storybook-stories.jsx#L45 and it will automatically create a DOM snapsh

[2018-10-04 21:33] interactivellama commented on #1548
Currently CJS/ESM exports such as `import { Input } from @salesforce/design-system-react` use the old callback parameters for `onChange`. See release [0.8.16](https://github.com/salesforce/design-system-react/releases/tag/v0.8.16)

This means that the documentation only agrees with the source imports and not the CommonJS version.

[2018-10-05 08:14] seirykborys commented on #1588
I have created new PR, thank's for the hints which helped me properly to do it.

[2018-10-06 22:33] interactivellama commented on #1371
@AnutaK @cormacmccarthy is not working on it. Please proceed.

[2018-10-09 15:50] #1571 closed

[2018-10-09 19:01] #1566 closed

[2018-10-09 22:23] #632 closed, assigned to nobody

[2018-10-10 16:08] #1569 closed

[2018-10-10 16:13] interactivellama opened #1593 "Track issue opening/closing progress visually"
This would provide an "executive view" of issue opening/closing, because they like pretty pictures. 😜

Example: https://vscode-issue-tracker.netlify.com/
This is a Firebase app that using Github GraphQL API used by VScode for their 5k+ open issues.

[2018-10-10 21:42] interactivellama opened #1594 "Update popover to section tag"

[2018-10-11 05:31] davidlygagnon opened #1595 "Fix lint errors across repo"
Adding an issue to fix lint errors across repo by running npm run lint:fix

I have a PR ready.

[2018-10-11 05:41] #1595 closed

[2018-10-11 06:12] interactivellama opened #1599 "Popover: Create error variant"
We need the Error variant found at https://www.lightningdesignsystem.com/components/popovers/ I can pull request it.

I'm a Salesforce employee.

I propose adding the following props. My error message are always long for some reason:
[code]

I primarily want to use this with Modals. I will create an isolated Storybook example in [Popover](http://design-system-react-components.herokuapp.com/?select

[2018-10-12 04:34] ChuckJonas commented on #1346
instead of trying to keep typedefs in sync, a better solution would just be to convert this to a typescript project 😉.

[2018-10-12 08:21] seirykborys opened #1600 "Footer and header render in combobox"
Component Lookup is deprecated and instead we have to use combobox. But I didn't find footer render in combobox. Can we add this functionality ?

[2018-10-12 12:45] futuremint commented on #1346
I don't disagree... but providing a typedef file is a bit orthogonal to this project being typescript or not.  Being typescript would certainly _help_ this cause... but it doesn't prevent it either.  We have other typescript projects around Salesforce, the heavy lifting here would be around integrating `tsc` into the build system, and also around cleaning up the types.  IMHO, typescript's benefits

[2018-10-12 17:12] interactivellama commented on #1441
Reopening and prioritizing.

[2018-10-12 22:24] interactivellama opened #1601 "Remove all caps text from the library"
Changes:

Component | New Styles | Current Styles | Change Log | Requires Markup Change
-- | -- | -- | -- | --
Badge | 12px/title-case/bold | 10px/caps | CSS: font-size, font-weight, removed uppercase | No
Breadcrumbs | 13px/title-case/bold | 13px/caps | HTML: Removed .slds-text-title_caps CSS: added font-weight: bold | Yes
Combobox | 14px/title-case/bold | 12px/caps | HTML: Removed .slds-text-tit

[2018-10-12 23:29] interactivellama commented on #1600
Yeah, looks like the search header could be added. https://www.lightningdesignsystem.com/components/combobox/#Displaying-options-based-on-user-input-2

And it looks like you could do entity search here with two or three headers. https://www.lightningdesignsystem.com/guidelines/search/global/#instant-results

I don't have the footer + New Contact markup, but it looks like it's the same markup as th

[2018-10-13 00:37] ChuckJonas commented on #1346
@futuremint I think the biggest benefit would be replacing the clunky `propTypes` definitions with typescript much better typing system.  I think there are other benefits as well, but I was half joking.... It's definitely a big ask.

In my dreamworld ESNextNext just adopts the typescript specification, so you might as well get on board now 😈

[2018-10-16 08:36] seirykborys commented on #1600
It sounds great, and would be nice to add this features in next release. So are you going to do this or better I do this ?

[2018-10-16 18:03] futuremint commented on #1441
This looks like its a bad version of `babel-plugin-root-import` that doesn't work on Windows.  I'm able to fix this locally just by using the latest version of that plugin.  I'll send a PR to fix this soon.

[2018-10-16 18:54] #1583 closed

[2018-10-16 18:55] interactivellama opened #1604 "Page header details not truncating"
http://design-system-react-components.herokuapp.com/?selectedKind=SLDSPageHeader&selectedStory=Record%20Home%20%28truncates%29&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

![screen shot 2018-10-16 at 12 54 49 pm](https://user-images.githubusercontent.com/1290832/47040124-bf294600-d142-11e8-9457-b750949ccbe5.png)

[2018-10-16 18:56] #1604 closed

[2018-10-16 19:50] #1441 closed

[2018-10-16 19:52] interactivellama commented on #1441
@hariprasad26091993 this should be fixed for `npm start` now. I haven't tested `npm test` yet though.

[2018-10-16 20:05] futuremint commented on #1441
`npm test` *will not* work until I also fix #1366 FYI.

[2018-10-18 06:18] interactivellama commented on #1600
I thought about it some more. Let's make `label` a function that gets `inputValue` from the component and returns a string to render. If consumers want to go crazy with some other  markup, they can use the `menuItem` render prop.

[code]

When working with scope, are you referring to [Grouped Comboboxes](https://www.lightningdesignsystem.com/components/combobox/#Grouped-Comboboxes-(Cross-entity-Po

[2018-10-19 13:33] seirykborys commented on #1600
Yes , when I am talking about **scope** I mean  Grouped Comboboxes

[2018-10-19 13:59] seirykborys commented on #1600
If we will merge **optionsSearchEntity** or **optionsAddItem** in **options** we will be able to select its as a value but in my vision it's has to be as a button.
So, may be better to set **optionsSearchEntity** or **optionsAddItem* values as object and render it above or below **menu** ?

[2018-10-19 16:26] Niondir opened #1607 "Allow to style slds-split-view_container width"
I'm having a SplitView where the right side takes up to much space, I would like to fix the size of the MasterView.

Currently it's not possible to set the width or minWidth:
[code]

[2018-10-19 18:08] davidlygagnon opened #1608 "npm run update-snapshot -- -u results in snapshot images diffs that aren't diff."
Thank you for filing an issue!

Just wanted to see if I was the only one getting this:

When I run `npm run update-snapshot -- -u`, I get a bunch of diffs on `.pngs` snapshot images. When looking at the diff, there does not seem to be any changes. I've been discarding them before committing but I feel we should probably fix this since it's a manual step I'd like to avoid doing over an over.

Pleas

[2018-10-19 18:10] davidlygagnon commented on #1608
Example of diff that I get:

![screen shot 2018-10-19 at 11 09 47 am](https://user-images.githubusercontent.com/1821787/47235971-84681d80-d38f-11e8-8129-ff2590ecb5b2.png)

[2018-10-22 16:50] futuremint commented on #1099
Theoretically: if we have the ability to automatically validate that our markup matches what is specified in SLDS, do we need visual regression testing?  I ask because visual regression testing is slow, fragile, and complicated... and to keep a high quality developer experience in my opinion we should avoid it unless we absolutely need it.

[2018-10-22 16:55] interactivellama commented on #917
Consider repurposing solution for Combobox `options`

[2018-10-22 17:01] futuremint commented on #1346
Here is a library I found... https://github.com/KnisterPeter/react-to-typescript-definitions

[2018-10-22 17:04] futuremint commented on #1346
Also, consider using this to generate Flow types? https://github.com/joarwilk/flowgen

[2018-10-22 17:59] interactivellama commented on #1099
The most recent backstory on this is with that stories were manually checked with the CSS `--` to `_` BEM modifier change and `VerticalNav` broke and VRT would have blocked me from releasing that broke.

One option (which is similar to what SLDS does and is close to how a 3rd party VRT would work) is that the code review person would generate the snapshot image before code commits and after code c

[2018-10-23 16:30] interactivellama commented on #1607
Sounds good! We've already got a style tag in there anyway.

Does a general `style` tag object that gets merged after `maxWidth` work for you? Maybe `styleMasterContainer`?

[2018-10-23 18:32] interactivellama commented on #1600
I don't think you can have a button in a menu listbox from ARIA/Accessibility Tree stand point. A button would have a tab index and remove focus from the input.

Also from what I can tell from the Salesforce Platform keyboard interactions, you just press down arrow to seamlessly go from items in `optionsSearchEntity` to `options` to `optionsAddItem`, so it appears to be the same role="listbox".

[2018-10-23 22:03] interactivellama commented on #1116
@futuremint Some of the Jest snapshots need a DOM (due to `Popper` and `onOutsideClick`). There are comments that say which ones they are.
https://github.com/salesforce/design-system-react/issues/1541 If you have any ideas, we might be able to get all the stories into DOM snapshots.

I'm open to breaking apart VRT and DOM snapshots into different test suits and disabling VRT for contributors.

[2018-10-23 22:03] interactivellama opened #1612 "Color Picker: Follow up tasks"
* What is the default swatch? Transparent or first swatch? Update default swatch to transparent.
* Add `assistiveText.label`` prop, so that it can be hidden. Add a "one required"" checkProp for `label` or `assistiveText.label``
* Move snapshots to Story based version.

[2018-10-23 22:28] interactivellama opened #1613 "Propose expanded renderProp strategy"
* Surface strategy here https://github.com/salesforce/design-system-react/blob/master/CONTRIBUTING.md#adding-a-new-prop
* We could link to anything long and group it with https://github.com/salesforce/design-system-react/blob/master/docs/codebase-overview.md#component-composition-with-prop-spread
* Feel free to critique my _Component composition with prop spread_ strategy, although render props ar

[2018-10-23 22:29] interactivellama opened #1614 "Add lit of support resources to project"
https://help.github.com/articles/adding-support-resources-to-your-project/

[2018-10-24 00:27] davidlygagnon opened #1615 "Color picker: setting transparent as value or working value prop doesn't work"
I introduced a bug where setting transparent as value or workingValue doesn't work.

I will create a PR to fix it, thanks.

[2018-10-24 15:12] albertxhani opened #1617 "Modal Component triggers children buttons"
This is a bug on the <Modal> Component

When a modal has buttons for children, and on opening and closing the Modal all the Buttons will be triggered
but when clicking the buttons after the modal is opened nothing gets trigered

Consider this :
`
<Modal isOpen={this.state.isOpen} dismissible={false} title="Modal">
     <Button id="test3" label="TEST5" variant="brand" onClick={alert("test button")}

[2018-10-24 15:36] #1617 closed

[2018-10-24 18:43] interactivellama commented on #1617
Did this get resolved? If it's a documentation clarity issue, please modify Prop description via their comments https://github.com/salesforce/design-system-react/blob/master/components/modal/index.jsx#L34 if that applicable.

[2018-10-24 18:45] jgerigmeyer opened #1618 "Toast with duration should clear timeout in componentWillUnmount."
The Toast component with a `duration` setting uses a `setTimeout` to auto-close after a set number of milliseconds. This timeout is not cleared in `componentWillUnmount`, which causes a warning in development mode if the component is removed before the duration expires:

I think this could be fixed with a few lines of code in the `componentWillUnmount` handler:

[code]

I'll submit a PR.

[2018-10-25 20:53] evanmcd opened #1621 "Webpack build failing with "Cannot read property 'bindings' of null""
I'm seeing some unusual behavior when add the design-system-react to my build. When it is not present, this builds successfully as expected:

src/index.js
[code]

When I add
`path.join(__dirname, 'node_modules/@salesforce/design-system-react')` to my webpack config and `"@salesforce/babel-preset-design-system-react"` to my babelrc file, the build fails with the error in the subject.

Oddly, if I r

[2018-10-25 22:44] interactivellama opened #1624 "Add Puppeteer/Chrome"
and remove PhantomJS

[2018-10-26 17:10] michaelcavallaro03 opened #1625 "Populating Combobox from State/Props does not filter out already selected options"
Discovered this working on a SPA,

When loading the selections from props or from a redux store, in my case, the already selected options appear as pills (as expected), however you should notice that the already option is still showing up on the search results. This is not expected and leads to another bug with adding multiple of the same option, removing one of these duplicates will remove both.

[2018-10-26 19:43] rsukale opened #1626 "Accessibility for combobox"
At trailhead, we use the combobox as in our search bar to show search suggestions.
We had a VPAT audit a while ago and were given the following feedback

"Once the focus is set on the search text box, screen reader does not announce any instructions for assistive technology users as to how they can perform search with the use of “Up and Down” arrow keystrokes, to navigate within the results. "

I

[2018-10-26 19:57] interactivellama opened #1627 "Color Picker Accessibility tasks"
* No initial focus on any button when entering dialog box
    * 2.4.3: Focus Order
    * Would recommend placing initial focus on Default tab instead

* When initially tabbing in dialog box to reach Default no alt text  reads on Close button or reads “out of button button”
    * 1.1.1: Alt text
    * Should only read element of focus

* Inconsistent use of arrows to select hue base.
    * Keyboard

[2018-10-26 20:00] #1612 closed

[2018-10-26 20:01] #1615 closed

[2018-10-26 20:39] interactivellama commented on #1627
### Next steps
* Ask SLDS team about hue base and arrow keys on link with no role.
* Ask SLDS about buttons in footer
* Update text for transparent swatch to read transparent when it's empty string.
* If transparent is the selected color then it should be the selected working color when default swatches are shown. Currently black is the selected swatch, since it is the default working color, becau

[2018-10-26 22:34] #917 closed

[2018-10-26 22:39] kevinparkerson commented on #1523
@interactivellama this is what I have planned for API:
[code]
Based on what seemed essential according to [MDN's entry on the counter input](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number) as well as the important features in Fuel UX's spinbox.

[2018-10-26 22:44] interactivellama commented on #1523
Sounds good to me!

[2018-10-26 23:02] interactivellama commented on #1523
`value` should probably just be a string, since we are re-using `Input` unless we want to allow a number to passed into a normal `input`.

[2018-10-26 23:04] interactivellama commented on #1523
We could call a custom `checkProp` to error out if you pass a number into a text `input` as an option, too.

[2018-10-26 23:10] kevinparkerson commented on #1523
I like this idea, though perhaps it should be a warning instead?

[2018-10-27 03:04] interactivellama commented on #1523
Yeah, there is low warning option. https://github.com/salesforce/design-system-react/blob/master/utilities/warning/low-priority-warning.js#L6

[2018-10-27 16:53] interactivellama commented on #1624
Switching to Chrome from PhantomJS and Babel targeting Chrome 68 results in a change of about 10 seconds in the browser-based unit tests

[2018-10-27 17:09] #1366 closed

[2018-10-27 17:49] interactivellama opened #1629 "Windows only: Tree test issue (onScroll event)"
In browser unit tests ran, but failed for me. I went ahead and merged the other PR. It's a great improvement and gets the tests running.

It primarily looks likes a timeout on a `scrolling calls onScroll` in Tree / event issue and could be an intermittent race condition.

PhantomJS on Windows seems like a scary combination at this point. I'm going to push an update to Puppeteer/Chrome next week an

[2018-10-29 23:07] #1618 closed

[2018-10-29 23:09] #1578 closed

[2018-10-30 01:00] mlilley opened #1631 "Input Icon misaligned when inlineHelpText set"
**Version:**

0.9.0

**Example:**

[code]

**Results In:**

Misaligned icon - positioned at or off bottom edge of input.

The output html:

causes the icon to be positioned at 50% of the combined height of both the input and help text, instead of the input height alone.  The problem is exacerbated when the help text wraps to more than one line:

(I'm not working on a solution to this issue).

[2018-10-30 16:22] interactivellama commented on #1625
As to removing already selected options from the options list, I'd totally love to see that. If there is a bug in this line https://github.com/salesforce/design-system-react/blob/master/components/combobox/filter.js#L15-L16 please fix, duplicates of selected options should not be showing up on the `options` menu list when the filter is used correctly.

[2018-10-30 16:36] interactivellama opened #1632 "Disable import warning when named imports are used"
![unnamed](https://user-images.githubusercontent.com/1290832/47734030-25c45e80-dc2f-11e8-971e-9112f2e5180a.png)

Use of "old path" to components that have moved, trigger file path change warnings even when the named import is used `import { Tooltip } from '@salesforce/design-system-react'`. This doesn't make an sense, because source code file paths are not being used.

The proposal is to change th

[2018-10-30 20:09] mlilley opened #1634 "Modal close shadow misaligns when Input errorText shown"
Versions:

DSR: 0.9.0
Browser: Chrome 70

Issue:

Given a Modal contain an Input, setting errorText on that Input causes the modal's close button shadow to misalign (presumably because the modal's height changes):

errorText not set:

![untitled](https://user-images.githubusercontent.com/20426/47747127-d6892880-dc44-11e8-9df4-a450233817c2.png)

errorText set:

![untitled 2](https://user-images.git

[2018-10-30 20:18] davidlygagnon opened #1635 "Allow accessible, disabled menu items in combobox"
Accessibility team and lightning dashboard are requesting this. I'm willing to work on it.

They currently use the lookup component. Should we create a PR to fix it on the deprecated component so they can be unblocked?

I told them that they should probably upgrade to use the combobox but they might not have time before feature freeze.

@interactivellama What do you think? I can create a PR to hav

[2018-10-31 20:01] interactivellama commented on #1635
I would suggest pulling lookup into your project code if you need to ship it for this release and fix it there.

As to `combobox`, I don't see any reference to use of aria-describedby and aria-disabled in these examples? Is the UX pattern in SLDS? https://www.lightningdesignsystem.com/components/combobox/#Entity-Autocomplete-Combobox-(Lookup)

If it's outside SLDS, we can allow it. `aria-described

[2018-10-31 20:18] interactivellama opened #1636 "Allow aria-* attributes on form elements"
Related to #1635. Allows `aria-*` attributes on all `input` form elements and increases flexibility of accessibility.

## Enable engineering use
See dataProps [architecture here](https://github.com/salesforce/design-system-react/pull/1585/files#diff-42d10394155c1e14e7d8faf1a52dfb97R112).
* ~Input~
* ~Button~
* Radio
* ~Checkbox~
* Colorpicker (input)
* Combobox
* Date Picker
* ~Text-area~
* Slider

[2018-10-31 20:19] interactivellama commented on #1635
You can do an additional `Combobox` prop if you need to due to time, but this would be the most sustainable preference for the future, so that we don't have partial support for some components. #1636

[2018-10-31 22:08] interactivellama commented on #1635
## Update
`aria-describedby` and `aria-disabled` are missing from the menu item.

[code]

and this would point to a `Tooltip`.

[2018-10-31 22:53] interactivellama commented on #1627
@davidlygagnon Here are the final a11y updates to Color picker.

## Engineering tasks
* Add updated description: "Saturation: 0%. Brightness: 11%" to anchor with role=[button] on the custom panel within an assistive text span. See below.
* Update text for transparent swatch to read "transparent" when it's empty string. We should add a `labels.transparent` string.
* Add `transparent` swatch to all

[2018-10-31 22:53] interactivellama commented on #1627
This will move Color Picker from prototype to production components.

[2018-10-31 23:01] interactivellama commented on #1626
@rsukale Do you all have an a11y specialist assigned to your product? It's got a menu list box attached to up and down arrows would be implied due to `aria-haspopup="listbox"` on the input.

I would suggest asking them sending a link to what's missing from this page. https://www.lightningdesignsystem.com/components/combobox/#Entity-Autocomplete-Combobox-(Lookup)

[2018-11-01 00:17] davidlygagnon commented on #1627
Great, thanks for following up with SLDS.

[2018-11-01 04:37] interactivellama commented on #1631
This looks like a bug in SLDS or at least a pattern that isn't currently supported. I couldn't get it to work with static SLDS HTML. The icon is positioned at 50% on the SLDS website https://lightningdesignsystem.com/components/input/

I would recommend filing a bug here: https://github.com/salesforce-ux/design-system/issues

[2018-11-01 05:04] interactivellama commented on #1621
Since you are new, I will ask, did you `npm install @salesforce/babel-preset-design-system-react`?

If that doesn't work, I do know plenty of folks that do use the named import version without issue. The primary reason that I recommend the source code version is that there are _so many different ways_ to build things, and so many engineers that want to micro-optimize things their _own_ way, and I

[2018-11-01 05:08] interactivellama commented on #1621
The repo itself is using the babel plugin for storybook, so you might look there. I'm going to close this issue, since the named import version shouldn't require babel presets. Feel free to re-open with new information and to hopefully post what the issue was so other can learn. 🎉

[2018-11-01 05:08] #1621 closed

[2018-11-01 14:59] dangmai commented on #1580
I'm also running into this issue. Furthermore if you have `DataTableRowActions` you won't be able to see the options in a small viewport.

[2018-11-02 16:07] jgerigmeyer opened #1639 "Remove <title> elements from included Illustrations."
I've been having quite a bit of trouble figuring out how to use `Illustration` components properly. Because the SLDS illustrations (https://lightningdesignsystem.com/components/illustration/) rely on CSS class styles, it seems they can't really be included with a `path`. But the `illustration` requires converting to a custom SVG object, which isn't ideal.

So it seems the best options are either t

[2018-11-02 18:55] interactivellama commented on #1639
Yeah, title isn't needed.

To be transparent, SLDS only has the illustrations in a usable way on the website via copy and paste and I believe those have to be slightly modified. It is not a high priority for SLDS to include the illustrations in a usable way within the public NPM module.

Therefore, I introduced bringing illustration files into DSR, so that all the consumers of DSR can use them in

[2018-11-02 19:42] interactivellama commented on #676
@kevinparkerson

I think the CSS if present for this in SLDS, but that it's just hidden on the SLDS site.

You can get inspiration from this component too https://developer.salesforce.com/docs/component-library/bundle/lightning:datatable/example

[2018-11-02 20:36] #1624 closed

[2018-11-02 20:45] #1639 closed

[2018-11-02 21:19] interactivellama commented on #676
@kevinparkerson Here is Alex B's code from 2016 https://github.com/interactivellama/design-system-react/tree/bado22-datatable-fixed-header

[2018-11-02 23:33] #1524 closed

[2018-11-05 15:35] evanmcd commented on #1621
Hey @interactivellama thanks for the response. I've ended up just importing the main SLDS CSS and a static resource, rather than getting it into webpack, and am now using the named import version instead of the source code.

It's working, so... I'm good with it.

Thanks.

[2018-11-05 18:43] kevinparkerson opened #1642 "Console message should talk about updating Jest tests when snapshots fail"
I recently ran into an issue where snapshots were failing, and it wasn't super clear how to fix that problem. The docs have `npm run test:snapshot -- -u` listed as a single bullet point on an relatively large page of information so it's easy to miss. A warning message mentioning that command upon snapshot test failure could be very helpful, though the message should also make it clear that command

[2018-11-07 22:43] michaelcavallaro03 commented on #1625
I think I phrased the issue poorly. When loading the page in a SPA from Redux store (props), the combobox displays the pills appropriately. However, those pills should not still show up in the options dropdown (unless there are duplicates in the inputted `options`). In this scenario, since there now exists a pill for the option AND the option still appears in the dropdown when you select that opti

[2018-11-08 21:38] #1625 closed

[2018-11-09 18:13] interactivellama opened #1644 "Disable increment/decrement when min/max values are met"
Please hint to the user that the min or max value has been hit, by disabling the respective button. Re-enable when the max/min is no longer reached.

@kevinparkerson This is lower precedent than pills, radio selection, or fixed data table header work.

A value of 12 should disable increment button in example story.

![screen shot 2018-11-09 at 11 11 44 am](https://user-images.githubusercontent.com

[2018-11-09 21:29] #1089 closed

[2018-11-13 12:34] robertovg commented on #1545
Any update on this one guys?

[2018-11-13 21:27] interactivellama opened #1647 "Global Navigation: Align markup and UX pattern to SLDS"
This issue replaces #579. #579 is so out of date that I don't it to be the primary issue, but it should be reviewed.

Global Navigation has not been updated in two years. It should be updated to current SLDS UX patterns and flexibly meet the needs of any product planning to use it.

https://www.lightningdesignsystem.com/components/global-navigation/
* Align to current SLDS markup and design
* Alig

[2018-11-13 21:27] #579 closed, assigned to nobody

[2018-11-13 21:32] interactivellama opened #1648 "App Launcher: Align markup and UX pattern to SLDS"
App Launcher has not been updated in two years. It should be updated to current SLDS UX patterns and flexibly meet the needs of any product planning to use it.

https://www.lightningdesignsystem.com/components/app-launcher/
* Align to current SLDS markup and design
* Align to current SLDS UX patterns
* Review Salesforce platform navigation use to be aware of common UX patterns.
* Fix all accessibi

[2018-11-13 21:35] interactivellama opened #1649 "Global Header: Align markup and UX pattern to SLDS"
Global Header has not been updated in two years. It should be updated to current SLDS UX patterns and flexibly meet the needs of any product planning to use it.

https://www.lightningdesignsystem.com/components/global-header/
* Align to current SLDS markup and design
* Align to current SLDS UX patterns
* Review Salesforce platform navigation use to be aware of common UX patterns.
* Fix all accessi

[2018-11-13 22:02] kevinparkerson commented on #1362
[code]

[2018-11-14 23:42] #1644 closed

[2018-11-16 04:44] interactivellama commented on #882
@kevinparkerson What do you think about the following props proposal for this issue?

[code]

[2018-11-16 16:23] Cavallando opened #1652 "Enabling multiple selection of Combobox before dropdown closes"
###  Better Multiple Select Functionality

In our implementation of SLDS we have users that are often making a large number of selections from a large lists using the combobox component. From a UX perspective, it would be great to allow the user to make multiple selections (when enabled) before the Dropdown closes.

I was thinking a key modifier could work for this scenario similar to how it works

[2018-11-16 18:58] kevinparkerson commented on #1362
@interactivellama I don't currently have it set up quite like that, but it'd only take a few tweaks to fit this pattern. Let's meet to sync up soon so we can finish this one up!

[2018-11-16 23:14] interactivellama commented on #1652
I think there is an implicit close when clicked expected UX pattern when a dropdown is used. I'd be open to doing something "hacky" that you control the menu with the `isOpen` prop yourself through `onRequestOpen/onRequestClose` and ignore close requests when the user clicks inside the menu, but do close when clicked outside or `Esc` or `tab`. (which are the only other ways I know of to close the

[2018-11-17 01:21] michaelcavallaro03 commented on #1652
I completely agree with the implicit UX pattern. Just an edge case that we saw as an improvement for our specific implementation.

I do not believe PickList is the best option for our implementation, but worth exploring.

You’re suggestion makes a lot of sense, I’ll take a look at it this weekend and update on what solution I can find. Thanks for your help!

[2018-11-19 07:11] #1544 closed

[2018-11-19 23:07] interactivellama commented on #1634
OK, thanks for updating.

[2018-11-21 17:07] curiosity26 opened #1654 "Expose input autocomplete attribute in Combobox and Input"
Newer versions of Chrome completely ignore `autocomplete="off"`. So if you have something like a ComboBox of States and you want to allow a user to filter the options via input, Chrome might recognize the input as part of an Address and try to autofill the State.

A possible solution is to set `autocomplete="some_invalid_value"` which causes Chrome to not prompt for an autofill value.

The problem

[2018-11-23 22:04] #1558 closed

[2018-11-26 14:41] #1547 closed

[2018-11-27 15:11] seirykborys opened #1655 "In Combobox when selected field is longer than width of combobox looks not good"
Can you please add `text-overflow ellipsis` to the input which is used in Combobox

[2018-11-27 18:59] kevinparkerson commented on #676
@interactivellama here is all I was thinking:
[code]

[2018-11-29 19:54] interactivellama opened #1656 "Update example of expand on branch click to Tree"
This example copies lightning:ui's single, item-only selection pattern and is not a part of SLDS, but is a common pattern on the SF platform. It seems like a good idea to have an example that does this for dev productivity.

[2018-11-30 07:58] #1362 closed

[2018-11-30 22:23] interactivellama opened #1658 "Combobox Readonly: Tab key is not propagating"
Hi tab from this input
http://design-system-react-components.herokuapp.com/?selectedKind=SLDSCombobox&selectedStory=Readonly%20Multiple%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Also was getting an issue where no pills had tabindex=0 at one point after adding pills, then removing pills.

[2018-11-30 22:26] interactivellama opened #1659 "PillContainer/Combobox: All pills should be aria-selected"
When pills are present, then our widget is in multiple select mode, thus aria-selected does not follow focus, but informs the user of data section (which is all the pills in the "selected listbox").

Per this spec
https://www.w3.org/TR/2017/WD-wai-aria-practices-1.1-20170628/examples/listbox/listbox.html#rps_label

[2018-12-01 13:19] #1658 closed

[2018-12-01 13:19] #1659 closed

[2018-12-01 21:48] interactivellama opened #1662 "Troubleshoot image snapshots"
Image snapshots appear to be breaking. It may be just my machine though. TravisCi seems fine.

[code]

[2018-12-01 22:51] #1662 closed

[2018-12-01 23:41] interactivellama opened #1665 "Counter not rendering"
Doc site is running React v15, do it doesn't support JSX array returns
https://design-system-react-staging.herokuapp.com/components/inputs/

[2018-12-03 16:12] kyleheddon opened #1667 "DuelinkPicklist - proposed propTypes"
I've implemented a new [`<DuelingPicklist />`](https://www.lightningdesignsystem.com/components/dueling-picklist/) component for my team's internal project (Salesforce employee), which I would like to contribute.

Proposed `propTypes`:
[code]

[2018-12-03 17:47] #1665 closed

[2018-12-04 00:03] interactivellama commented on #1667
Awesome! Excellence consistency with the existing prop comment format.

* With the tooltip, I'd like to align with the existing [`fieldLevelHelpTooltip`](https://github.com/salesforce/design-system-react/blob/master/components/input/index.jsx#L145) which takes a Tooltip component and should remove some of the `assistiveText` and `labels` keys and allow complete control of tooltip by consumer dev.

[2018-12-04 12:39] kyleheddon commented on #1667
Thanks!

👍It does make a lot of sense to let the consumer pass in the tooptip.

It does seem a bit confusing to have `labels.label` given that there are 3. Are there any other components in project that have multiple, with one being the "main" label?

👍 Makes sense. "category" is an artifact from the original impl - I later changed to `options` and `selection`. Should it be `selection`, rather tha

[2018-12-04 14:15] interactivellama commented on #1667
It's describing the same as `picklistGroupLabel`, so this might be good:
[code]

It's noun vs adjective. `active` or `focused` is often used in this library for user UI "selection". The ARIA spec uses the term `selected` for UI focus and data selection for single selection, but not for multiple selection, so the terms overlap from time to time. Here are some of combobox's props using `selected` [o

[2018-12-04 15:17] kyleheddon commented on #1667
The `ids` are only used for accessibility (internally used by the component). My current impl does not actually take in `ids` as props, rather it creates them internally:
[code]
I saw other components take in `id`, so I thought I would allow the consumer to pass them in for the sake of consistency.

That being said, I can't think of a good reason (from a best practices perspective) for allowing cu

[2018-12-04 23:09] interactivellama commented on #1667
Sounds good. I think we align. Tell me if there's anything else I can do for you.

[2018-12-05 14:33] interactivellama opened #1670 "PillContainer: undefined id"
ids are not correct made if id prop is not set: `undefined-listbox-of-pill-options`

Use `shortid` as in https://github.com/salesforce/design-system-react/blob/master/components/combobox/combobox.jsx#L311-L312

Found in example on https://react.lightningdesignsystem.com/components/pill-container/

[2018-12-05 22:10] #1656 closed

[2018-12-06 14:14] futuremint opened #1672 "Panel needs more props"
I will flesh out this issue description later, but current the panel's props don't support all of the options for the actual Panel.

The example I need is "left side docked" for example: https://lightningdesignsystem.com/components/panels/#Left-side

However there are a few more.  I think just having a `className` prop to put on the root div of the component would be sufficient for now.

[2018-12-06 22:23] kevinparkerson opened #1675 "Determine solution for a11y inspector scrolling elements to the bottom right in Storybook"
When working with components that have scrollable containers in Storybook, the a11y inspector causes odd bugs due to it checking all elements for accessibility. This can cause rendering issues or other strange behaviors that are difficult to diagnose during component development, and in the worst case, convince the developer the component is to blame and cause them to write an unnecessary workarou

[2018-12-07 05:13] #811 closed

[2018-12-07 05:52] #366 closed

[2018-12-07 06:59] #882 closed

[2018-12-07 16:45] interactivellama commented on #1632
I believe these console warnings are fixed. Please re-open if this is not true.

[2018-12-07 16:45] #1632 closed

[2018-12-07 17:30] #1546 closed

[2018-12-07 21:46] shibut12 opened #1678 "Toast prop of Modal component display a toast with incorrect styling."
When I use `Toast` prop of `Modal` component, trhe modal dialog display a toast with incorrect styling. The issue is, the error Icon in toast is not on the same line with the error message.  Is this the expected behavior?

Here is what I'm seeing in my browser.
![image](https://user-images.githubusercontent.com/6099857/49674216-2c6c9f80-fa3f-11e8-8254-078939987ba8.png)

Mys source code for this co

[2018-12-07 22:18] interactivellama commented on #1678
@shibut12 Toasts in Modal have been removed from SLDS. We should deprecate that prop.

The new pattern is a popover with an icon in the footer of the modal
<img width="220" alt="screen shot 2018-12-07 at 4 12 48 pm" src="https://user-images.githubusercontent.com/1290832/49675391-1957d080-fa3b-11e8-9a54-04603ff1f09c.png">

The warning/error popovers can be found here (neither of these variants are

[2018-12-07 23:46] #1473 closed

[2018-12-08 04:46] #1486 closed

[2018-12-08 15:09] shibut12 commented on #1678
@interactivellama great, thanks.

[2018-12-08 15:09] #1678 closed

[2018-12-10 15:20] interactivellama opened #1679 "Upgrade Storybook and Webpack to 4.x"
Upgrade Storybook and Webpack to 4.x. Update webpack config and storyshots, Jest, etc.

[2018-12-10 18:16] davidlygagnon opened #1681 "Add fieldLevelHelpTooltip prop on combobox"
Allow consumers of Combobox component the ability to add a Tooltip component (info icon in screenshot) next to the label.

Prop name proposition:

`fieldLevelHelpTooltip: PropTypes.node`

![screen shot 2018-12-07 at 3 15 48 pm](https://user-images.githubusercontent.com/1821787/49752155-610d7080-fc64-11e8-8851-915dd2e61b47.png)

Assigned to myself - I'll work on it.

[2018-12-10 19:01] interactivellama commented on #1681
Sounds good! Please proceed.

[2018-12-11 09:47] #1588 closed

[2018-12-11 20:31] jiahanericsson-salesforce commented on #1626
@interactivellama hi Stephen, what are your thoughts on the feedback from Accessibility? Do you think  the total results count could be something to incorporate? Thanks for your time!

[2018-12-12 15:01] interactivellama commented on #1626
I'm hesitant to promote implementing a non-SLDS pattern, I've reached out to the SLDS and Accessibility teams internally for comment on GUS.

[2018-12-12 19:41] interactivellama commented on #1626
Based on internal conversation, this is not part of the Combobox ARIA spec http://w3c.github.io/aria-practices/#combobox nor the SLDS implementation https://www.lightningdesignsystem.com/components/combobox/#Entity-Autocomplete-Combobox-(Lookup)

Please re-open this issue if SLDS Combobox changes.

[2018-12-12 19:41] #1626 closed

[2018-12-13 11:43] Niondir opened #1684 "DataTableColumn key"
I sometimes face an issue with duplicated keys when two columns reference the same property.

[code]

They are the same then, but rendering the same property in two different ways is a usecase sometimes.

As a possible fix we could change the cellId to:
[code]
And allow to pass an id to a column component.

[2018-12-13 11:49] Niondir commented on #1581
Any progress here? At least a workaround should be documented imho.

[2018-12-13 12:30] Niondir opened #1685 "Row selection header not aligned"
Just noticed that the checkbox in the header row is not aligned with the table rows.

Looking at: https://www.lightningdesignsystem.com/components/data-tables/#site-main-content -> Responsive

The header checkbox is not wrapped in a `<div className="slds-th__action slds-th__action--form">` as it is in the react component `head.jsx`.

[2018-12-13 17:24] jgerigmeyer opened #1686 "PageHeader: Allow Actions in Base variant"
Currently, a PageHeader with variant of `base` is not allowed to have additional content (e.g. `navRight`). I'm not sure what the reason is for that decision, beyond the fact that it's not specifically shown as one of the examples in SLDS?

I'd like to use a PageHeader with the base variant layout (i.e. large `slds-page-header__title` with smaller `slds-page-header__name-meta` below), but also wit

[2018-12-14 17:38] #1501 closed

[2018-12-14 17:51] kyleheddon commented on #1361
This is something my team has worked on for our internal project. Has there been any work done on this?

[2018-12-14 19:53] interactivellama commented on #1361
No, no one is currently working on it. I'm guessing it's simple enough that teams have been just making their own.

[2018-12-14 19:54] interactivellama commented on #1361
This is a list of relatively small in scope components that I put together https://github.com/salesforce/design-system-react/labels/base-component earlier this year.

[2018-12-14 20:53] interactivellama opened #1691 "Add Select component"
Add Select component https://www.lightningdesignsystem.com/components/select/

Please include the following within the component comments:

Select element presents a menu of options. This component and its multiple selection variant should only be limited to usage on touch devices. Combobox Read-Only Single Select (Picklist) and Dueling Picklist should be used for non-touch devices.

[2018-12-16 19:19] #1440 closed

[2018-12-16 19:19] #1593 closed

[2018-12-17 20:13] davidlygagnon opened #1693 "Add VisualPicker component"
The Lightning Reports team would like to implement the `<VisualPicker/>` component. We will consume it as part of a new feature in 220.

For reference, the Visual Picker spec is here: https://latest-220.lightningdesignsystem.com/components/visual-picker/

Here are the props proposition:

[code]

[2018-12-17 20:13] interactivellama commented on #1309
I think this will be fixed with SLDS alignment task #1647.

[2018-12-17 20:14] #1309 closed

[2018-12-19 17:01] interactivellama opened #1694 "PillContainer: Return null if options is empty"
Container box should be removed if PillContainer options.length is 0.

The following is the bug that should not occur
<img width="173" alt="screen shot 2018-11-29 at 11 24 27 pm" src="https://user-images.githubusercontent.com/1290832/50235303-2f3f8c80-037d-11e9-90fb-879476fdff6d.png">

[2018-12-20 17:51] interactivellama opened #1695 "Expression: Props proposal"
Expression builders help users declaratively construct logical expressions. These expressions can be used when querying for a filtered set of records, creating rules to control when something executes, or any other conditional logic.

https://www.lightningdesignsystem.com/components/expression/

[2018-12-20 23:11] interactivellama opened #1696 "DataTable: Scroll/render bug on tab"
Tabbing between the headers creates this bug when the table is hidden. It happens in Chrome and FireFox. Tabbing between items in the actual table data does not create this bug

<img width="591" alt="screen shot 2018-12-20 at 5 09 46 pm" src="https://user-images.githubusercontent.com/1290832/50315895-21236600-047a-11e9-9f53-89d5ffa0797a.png">

[2018-12-20 23:37] #676 closed

[2018-12-21 12:53] PaulaIoana opened #1697 "Add Carousel Component"
Would like to implement the \<Carousel\/\> component in React.
(https://www.lightningdesignsystem.com/components/carousel/)

Proposed props:
<pre>
Carousel.propTypes = {
	/**
	 * Array of objects with shape, needed for building a carousel item.
	 * A shape would have:
	 *   - id: 0   [REQUIRED]
	 *   - heading: "All my things! Part 0" // (Visible heading for default render)
	 *   - description: "C

[2018-12-21 15:07] gdoenlen opened #1698 "Button: add form prop type"
I'd like to have the [Button form attribute](https://www.w3schools.com/tags/att_button_form.asp) added to the button component. This would help with using forms when the button isn't inside of a form (like inside of a modal footer), but type is submit.

[2018-12-21 15:36] ButuzGOL commented on #1325
Is there any info about this component ?

[2018-12-21 16:08] interactivellama commented on #1325
No, there are no plans right now to implement it by any of our product teams. I can share that it would probably be a wrapper of https://quilljs.com/ , but no work has been done on it.

[2018-12-21 16:11] interactivellama commented on #1698
I'm good with that. Please proceed with a props proposal and then a pull request. Something like

in this format

[code]

[2018-12-21 23:30] interactivellama opened #1699 "Data Tables: Windows Event listeners are not attaching"
Currently master branch/0.9.2 does this

<img width="798" alt="screen shot 2018-12-21 at 5 28 02 pm" src="https://user-images.githubusercontent.com/1290832/50367453-f868a280-0545-11e9-882f-76a8a2102478.png">

How it should work
<img width="647" alt="screen shot 2018-12-21 at 5 27 39 pm" src="https://user-images.githubusercontent.com/1290832/50367450-f272c180-0545-11e9-8b78-11fcbd12b82d.png">

[2018-12-22 03:02] #1699 closed

[2018-12-23 05:02] interactivellama opened #1701 "Add App Launcher Section and Tile to main exports"
`AppLauncher` is now in the named imports, so  `import {AppLauncher} from 'design-system-react` should work. It used to not be and the documentation is out of date.

You can see that from `/components/index.js`
[code]

BUT,  `AppLauncherTile`, `'design-system-react/components/app-launcher/tile'` and  `AppLauncherSection`, 'design-system-react/components/app-launcher/section';` also need to be adde

[2018-12-23 21:49] Niondir commented on #1607
I guess the merge tag would do the job.

[2018-12-24 18:44] interactivellama commented on #1607
Please pull request:
[code]
if you would like to see that.

[2018-12-26 20:35] interactivellama opened #1702 "Make Page Header variants name kabob case"
Page Header variants are currently `objectHome`, `recordHome`, `relatedList` and `base` and should be updated to `object-home`, `record-home`, `related-list` in a backwards compatible way. `checkProps` should be used to notify consumers of prop change.

[2018-12-27 09:41] PaulaIoana commented on #1697
Updated some the proposed props as per your comments.

[2018-12-27 23:35] #1701 closed

[2018-12-27 23:39] interactivellama opened #1705 "Button: Support all ARIA attributes"
This will allow all `aria-*` attributes on the `button` element.

This is a sub task of #1636

[2019-01-03 16:41] interactivellama opened #1707 "Combobox: Update menuItem to onRenderMenuItem"
Now that [prefix render props with onRender](https://github.com/salesforce/design-system-react/blob/master/docs/codebase-overview.md#prefix-render-props-with-onrender) guideline is defined in order to differentiate render props from [Reuse existing component props by using component](https://github.com/salesforce/design-system-react/blob/master/docs/codebase-overview.md#reuse-existing-component-pr

[2019-01-03 16:42] interactivellama commented on #1697
Dustin reached out to me and gave me the visual design, so I understand the multiple items per panel need and am happy to support it.

* The default number of items per panel should be 1, so that the default one tab panel one item wrapped in a link from the SLDS site can occur without custom rendering.
* Multiple items within a panel should add an additional unordered list `ul`/`li` of things that

[2019-01-04 16:06] PaulaIoana commented on #1697
As long as there is a way of adding a custom layout for the carousel if there is ever needed one, that's great.
I updated the props with your suggestions.

[2019-01-04 16:17] interactivellama commented on #1697
You'll have complete control with `onRenderItem`/`handleRenderItem`. You can do whatever you want based on the `id`.

[2019-01-04 16:23] #1549 closed

[2019-01-04 16:23] #1705 closed

[2019-01-06 02:36] #1681 closed

[2019-01-07 09:08] #1631 closed

[2019-01-08 15:10] djmccormick commented on #1697
@interactivellama / @PaulaIoana -- is this proposal approved at this point?

[2019-01-09 08:12] interactivellama commented on #1697
Yes, looks good!

[2019-01-09 18:36] #1686 closed

[2019-01-10 00:06] gzhang86 opened #1708 "DataTable Radio button with fixedLayout and fixedHeader is broken"
With 0.9.3, when creating a single selected radio button DataTable with fixed header:
<DataTable
	fixedLayout
	fixedHeader
	items={...}
	selectRows='radio'
	onRowChange={...}
	selection={...}

We are hitting the following in DataTable. resizeFixedHeaders():
[code]

[2019-01-10 00:33] donnieberg opened #1709 "[Accessibility] Selectable Menu Items in Dropdown missing aria markup"
Markup should include `aria-checked` and `role="menuitemchecked"` - essentially, they should match the SLDS markup: https://latest-218.lightningdesignsystem.com/components/menus/#With-Selectable-Items

[2019-01-10 06:14] interactivellama commented on #1708
if (cellFixed) {
    cellFixed.style.left = `${columnLeft - wrapperLeft}px`;
}

if (linkFixed) {
    linkFixed.style.width = `${column.offsetWidth}px`;
}
[code]

[2019-01-10 19:37] shleewhite opened #1711 "[Accessibility] Combobox examples need unique IDs"
Each Combobox example needs a unique ID.

Currently, they have the same ID, so screen readers associate all of the labels with the first example.

I will fix the issue.

[2019-01-10 21:31] davidlygagnon commented on #1708
Thanks @interactivellama. I asked him to file this bug because it's preventing us from using > 0.9.2. Let me know if you need me to create the PR for this fix.

[2019-01-10 21:38] interactivellama commented on #1708
I made one. #1710 Please review.

[2019-01-10 22:15] #1708 closed

[2019-01-11 17:50] #1711 closed

[2019-01-14 17:24] #1709 closed

[2019-01-14 17:29] interactivellama opened #1716 "Page Header: Update props"
This component some implicit API items in it's props (type checking :-( ), since this component is one of the older ones in the project and needs to align with the architecture of the rest of the project.

#1687 highlights some of the issues and does some needed markup changes.

* Deprecate `contentRight` and `navRight` completely (but keep backwards compatibility)
* Better name them such as `onRe

[2019-01-15 22:32] interactivellama opened #1717 "Detect if canvas exists before calling Browser canvas"
v0.9.4 adds AppLauncher `Tile` component to the default export of the library. It uses the browser `HTMLCanvasElement` functionality. You may see errors in Jest tests now, since JSDOM does not implement Browser Canvas functionality.

Any calls to `HTMLCanvasElement` should be protected and only run if that object exists. Something like `if (canvas.getContext) {}`

https://github.com/salesforce/des

[2019-01-21 13:57] curiosity26 commented on #1654
Just commenting to keep this alive. Still an issue

[2019-01-22 23:43] interactivellama commented on #1373
As we talked about on Tuesday:
[code]

`EditDialogPopover` defaults to having a cancel and save button and special padding etc.

[2019-01-23 17:05] jgerigmeyer opened #1720 "ProgressIndicator tooltips are agressively wrapped for the final step."
The tooltip for the final step in a progress-indicator component gets aggressively over-wrapped, because the tooltip is positioned absolutely and cannot overflow the containing progress-indicator div.

![screenshot 2019-01-23 12 05 07](https://user-images.githubusercontent.com/552316/51623634-26efe980-1f07-11e9-95d1-e57705845eab.png)

See: http://design-system-react-components.herokuapp.com/?selec

[2019-01-23 23:05] interactivellama commented on #1705
See #1636 for implementation

[2019-01-23 23:05] interactivellama commented on #1636
See #1706 for implementation.

[2019-01-23 23:08] interactivellama commented on #1450
I'm closing this, because I propose the removal of proptypes for ARIA attributes. Props should be looped over and aria tags should be collected and placed on the form element needed. See #1706 for implemenation

[2019-01-23 23:08] #1450 closed

[2019-01-23 23:09] interactivellama commented on #1450
#1636 supersedes this issue

[2019-01-24 17:53] kwilloughby-sf opened #1724 "Remove Nubbin & Close X From Color Picker"
The DSR Color Picker should match the SLDS Color Picker (https://www.lightningdesignsystem.com/components/color-picker/).

The items below should be tweaked (this is not an exhaustive list).
- Remove the nubbin from the DSR Color Picker and move the Popover up to match the SLDS Color Picker
- Remove the close x in the upper right corner of the DSR Color Picker.
- Make the DSR Color Picker tab text

[2019-01-24 21:29] #1652 closed, assigned to nobody

[2019-01-25 04:37] davidlygagnon commented on #1724
Thanks @kwilloughby-sf - I can take a look at this.

[2019-01-25 12:34] alinchican opened #1726 "Tooltip doesn't close when wrapping a disabled button in Chrome"
Hello!

I'm having issues with disabled buttons inside tooltips, the tooltip content isn't hidden on mouse out on Chrome (version 71). On Firefox (version 64) everything seems ok. You can view an example [here](https://codesandbox.io/s/pkrx5w9j5q).

Tested using:

- Chrome 71
- @salesforce-ux/design-system: 2.8.1
- @salesforce/design-system-react: 0.9.4
- react: 16.7.0

Am I missing something? I'v

[2019-01-28 05:28] #1116 closed, assigned to futuremint

[2019-01-28 08:03] interactivellama opened #1727 "Proptype errors in snapshot tests"
Currently there about five proptype warnings in the snapshot tests

[2019-02-01 18:40] interactivellama commented on #1649
Proposed Prop APIs

Global header favorites
[code]
Global header TASK
[code]
Global header HELP
[code]
Global header Setup
[code]
Global header Notifications
[code]
Global header Profile
[code]

[2019-02-01 23:30] interactivellama opened #1729 "Add feedback survey for contributors at pull request merge"
It's always good to know what we are doing well and not so well.

[2019-02-02 00:32] interactivellama commented on #1726
It appears that disabled button in Chromium do not have onMouseLeave events.
https://github.com/facebook/react/issues/4251

You might try controlling it with a parent. https://react.lightningdesignsystem.com/components/tooltips/#prop-isOpen

[2019-02-02 01:09] #1727 closed

[2019-02-02 08:05] interactivellama opened #1732 "Fix accessibility issues found with aXe testing"
## !!! THIS IS A SUPER ISSUE !!!

**Please create issues from this list below before creating a pull request**

This issue is very large and spans 75% of the components in this library.

Fix issues found in #1180. This will mostly likely be around 100 issues in the Storybook examples.

[2019-02-02 08:07] interactivellama opened #1733 "Add additional stories to snapshot testing"
Add the following to DOM snapshots, image snapshots, and a11y testing:

* ProgressRing from '../components/progress-ring/__docs__/storybook-stories';
* RadioGroup from '../components/radio-group/__docs__/storybook-stories';
* RadioButtonGroup from '../components/radio-button-group/__docs__/storybook-stories';
* Search from '../components/input/__docs__/search/storybook-stories';
* Slider from '../

[2019-02-02 08:09] interactivellama commented on #1180
Changing this issue to be only implementing the framework to be able to run aXe on the Storybook stories. Moving the fixing of components to #1732.

[2019-02-02 08:15] interactivellama commented on #1732
72 issues found in the 25 components tested.

[code]

[2019-02-04 05:59] interactivellama commented on #1726
I did a little more research. As stated above, the browser isn't firing the events that React needs. I looked at React Bootstrap's implementation, and they've hacked a solution of creating a duplicate overlay on top of disabled buttons in order to allow this. https://github.com/react-bootstrap/react-bootstrap/blob/04184495ce111d9e0a9d100cec8f8b8122015ccf/src/OverlayTrigger.js#L173

One thing to ke

[2019-02-04 10:16] alinchican commented on #1726
I thought of the same workaround, it seems sane enough.

Thanks for the answer and the advice regarding the use of info icons!
I'm just a happy user, I don't know who Dustin McCormick is. :)

[2019-02-04 22:58] shleewhite opened #1736 "Add Combobox with Dialog"
Adding a new variant to `<Combobox />`: combobox with dialog.
https://www.lightningdesignsystem.com/components/combobox/#Combobox-with-a-Dialog

There are some changes to existing props and new props:
[code]

[2019-02-04 23:50] shleewhite commented on #1736
Totally understand, I used `children` so I could put a hidden label at the top of the body. The dialog needs an `aria-label` or `aria-labelledby` instead of a header. Is there another way I could add the label in?

[2019-02-05 00:12] interactivellama commented on #1736
Would a Combobox variant of Popover work? You can clone the Popover passed in and have the combobox choose the variant by default. I may not be being very specific though.

Something like https://github.com/salesforce/design-system-react/blob/master/components/tooltip/private/field-level-help-tooltip.jsx#L31

[2019-02-07 01:57] qyiming opened #1737 "[Button component] variant is ignored when iconVariant is present"
In SLDS button component, 'variant' is not applied if 'iconVariant' is present.

https://react.lightningdesignsystem.com/components/buttons/

For example -

when `variant` is 'brand' and `iconVariant` is 'border', the search button does not have the brand color, it is

![screen shot 2019-02-06 at 5 43 19 pm](https://user-images.githubusercontent.com/4957585/52385897-81756380-2a38-11e9-8caa-1abbd50

[2019-02-07 03:24] interactivellama commented on #1737
Please modify the code with your proposal and post a screenshot of what `variant=brand` and `iconVariant=border` look like together. I think it should be fine, but I'll want to see it. Thanks!

[2019-02-07 17:53] kwilloughby-sf opened #1738 "Add Scoped Notifications"
https://www.lightningdesignsystem.com/components/scoped-notifications/

Note: I'd like to see SLDS add error and warning variants at some point.

[2019-02-07 19:47] #1720 closed

[2019-02-07 22:59] #1635 closed

[2019-02-08 16:50] interactivellama commented on #1373
@shaundr Just contacted me and said that the Trailhead team was interested in this component.

[2019-02-08 18:54] interactivellama commented on #1364
Moved to #1693

[2019-02-08 18:54] #1364 closed

[2019-02-09 19:16] #1475 closed

[2019-02-11 17:36] interactivellama opened #1743 "Update SLDS to 2.8.3"

[2019-02-12 19:59] sudowork opened #1744 "Using Dialog with overflowBoundaryElement position can result in broken icons."
The current implementation of `overflowingBoundaryElement` `Dialog`s recreates IconSettings with only the `iconAssets` prop inherited from the current context. This results in broken icons if any `IconSettings` are set using other props.

I can work on a fix for this.

[2019-02-12 20:27] interactivellama commented on #1744
Thanks for finding this! Please proceed.

[2019-02-12 21:12] sudowork commented on #1744
Fixed in #1745

[2019-02-15 20:31] interactivellama opened #1751 "Add Walkthough Popover"
Walkthrough variant on https://www.lightningdesignsystem.com/components/popovers/

![screen shot 2019-02-15 at 1 31 17 pm](https://user-images.githubusercontent.com/1290832/52882773-fe35cb00-3125-11e9-8d25-e492926a1a22.png)

[2019-02-16 00:55] davidlygagnon commented on #1654
@interactivellama Should we expose `autocomplete` prop on `SLDSInput`? I can see it's exposed on the private component `inner-input` but not on `SLDSInput`.

[2019-02-16 22:11] interactivellama commented on #1100
Mocking the console with a spy might work. We'd want to do this with Mocha and Jest, I'd presume.

[code]

[2019-02-16 23:43] curiosity26 commented on #1654
Yea that would be great. Unless you guys think it's better to do browser
detection and set to some random string for chrome only. Your call. Either
is good for me.
On Fri, Feb 15, 2019 at 7:55 PM David <notifications@github.com> wrote:

--
Alex Boyce

[2019-02-16 23:58] interactivellama commented on #1654
Yes @davidlygagnon that's great idea! Let's add `autocomplete` to `Input`.

As part of that, can you pull the `Input` prop out of https://github.com/salesforce/design-system-react/pull/1430 so that `<Combobox input={<Input autocomplete=""} />` can handle this for the Combobox via [props spread composition](https://github.com/salesforce/design-system-react/blob/master/docs/codebase-overview.md#reus

[2019-02-18 07:18] interactivellama opened #1752 "Update overflowBoundaryElement usage to use createPortal"
Now that React 16 features can be used. Components should update to `createPortal`.

https://reactjs.org/docs/portals.html

This will simplify the Dialog code and remove the need for context explicit passing to Portal children

[2019-02-18 13:24] #1685 closed

[2019-02-18 22:53] interactivellama commented on #1685
This appears to have been fixed now. https://react.lightningdesignsystem.com/components/data-table/

Please re-open if it isn't @Niondir

[2019-02-18 22:54] interactivellama opened #1753 "DataTable: Missing top border in Fixed Header"
Fixed Header DataTable is missing a top border.

![screen shot 2019-02-18 at 3 47 18 pm](https://user-images.githubusercontent.com/1290832/52979802-8c16ed80-3394-11e9-80f8-26758a06e346.png)

We removed the top border, because of the fixed header being moved up. The SLDS border styling creates a double border, so we removed it, but forgot to add it to the container.

![screen shot 2019-02-18 at 3 5

[2019-02-19 16:39] #1180 closed

[2019-02-19 19:20] nathanwdavis commented on #1751
The primary deficiency in the current version of the React component is that it seems to affect the layout of the elements it wraps (it's `children`). Additionally, I get warnings that the children components must be an SLDSButton or other clickable. In the case of a walkthrough it is not some clickable that opens the popover, but rather it is controlled by an FTUX state.

I would imagine that it

[2019-02-20 17:40] #1744 closed

[2019-02-22 18:15] interactivellama commented on #1361
@kyleheddon
@kevinparkerson is updating AppLauncher and will be creating an Expandable Section, since App Launcher has one inside of it anyway. If you have anything in the works, could you push it up in a WIP pull request? If not, that's cool, too.

[2019-02-22 21:59] davidlygagnon commented on #1654
Oh great, you read my mind actually. I will also pull out the functionality to disable readonly combobox out of this PR because we need it. Sounds good?

[2019-02-22 22:02] interactivellama commented on #1654
Yes, please proceed.

[2019-02-23 00:07] interactivellama opened #1756 "Document how to release a tag on a forked repository"
This will prevent a "waterfall dependency" on the maintainers to release while a contributor is waiting for a code merge or library release.

[2019-02-23 00:08] interactivellama opened #1758 "Add how to release to your own tag to PR welcome bot"

[2019-02-23 00:23] interactivellama opened #1759 "Test coverage for props"
Create Abstract Syntax Tree plugin that parses stories source code and make sure that all component props listed within `component/components-docs.json` are called in AST of Storybook stories.

This should create 100% prop coverage to know if all props are used in Storybook stories. This does not mean that they all work correctly, but that they are all surfaced within Storybook.

[2019-02-23 00:23] #1756 closed

[2019-02-23 00:32] interactivellama opened #1761 "Dropdown: Hover in accessible with keyboard"
This may be obvious, but the `openOn: hover` prop makes the dropdown keyboard inaccessible. http://design-system-react-components.herokuapp.com/?selectedKind=SLDSMenuDropdown&selectedStory=Hover&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-02-23 00:34] interactivellama opened #1762 "Dropdown: Deprecate custom content"
Custom content for dropdown was a hack. If there's more than a listbox within a dropdown, then it should be a popover.

[2019-02-23 00:36] interactivellama opened #1763 "Add do not audit a11y story"
Call out "Do not do a a11y audit" in Storybook examples. http://design-system-react-components.herokuapp.com/
This will update the story title to remove from aXe testing similar to how `noTest` suffix works now in Jest Storyshots.

[2019-02-23 00:41] interactivellama opened #1764 "Add a CSS stylesheet for library"
Due to limitations of style sheet injection (Content Security Policy (CSP) errors), we may need to add back CSS files (disabled tabs had a stylesheet in the past).

[2019-02-23 00:43] #1758 closed

[2019-02-25 19:16] kyleheddon commented on #1361
@interactivellama We do not have anything ready outside of our internal Pardot repo. It would probably simpler if @kevinparkerson implemented it

[2019-02-25 20:03] interactivellama commented on #1361
@kyleheddon Sounds good.

@kevinparkerson Can you write a props proposal for Expandable Section before you begin App Launcher?

[2019-02-25 22:10] interactivellama commented on #1751
@nathanwdavis My 5 min estimate is to suggest the child still be an interactive item (Button, etc.) that would still receive focus on closure of the Popover and that you also add a positioning element (DOM ref callback or DOM query) that would get sent to Popover/Dialog for positioning and be used by Popper.JS to position the Walkthrough where ever you want on the page.

@futuremint

[2019-02-25 22:33] kevinparkerson commented on #1648
This is my proposed PropType API for components/expandable-section:
[code]

[2019-02-26 16:50] #1698 closed

[2019-02-26 22:28] kevinparkerson commented on #1648
had to update some Modal props, which were discussed in a meeting but here is the updated list:
[code]

[2019-02-26 22:30] kevinparkerson commented on #1648
propTypes / defaultProps proposal for App Launcher Tile:
[code]

[2019-02-26 22:31] kevinparkerson commented on #1648
Proposed propTypes / defaultProps for App Launcher Link, a new component:
[code]

[2019-02-26 22:35] kevinparkerson commented on #1648
Finally, the proposed propTypes / defaultProps for app-launcher/index.jsx:
[code]

[2019-02-27 21:35] interactivellama opened #1768 "Add last updated column sort option which sorts descending order first"
"Date last updated" is a common DataTable column. The ability of a user to select that the most recent items/records start at the top (considering something like a recently used list such as groups last visited or documents last edited.

[2019-02-27 22:18] kevinparkerson opened #1769 "Update libraries to support `<>...</>` fragment syntax"
Update react version, react-docgen, and any babel dependencies so that `<>...</>` fragment syntax is fully supported.

Related link: https://github.com/reactjs/react-docgen/issues/298

[2019-02-27 22:43] kwilloughby-sf opened #1770 "Update Input Example with Error Icon to New Error Icon (Circle with /)"
The error icon shown in the example below is incorrect. It should be the red circle with a / through it.

![image](https://user-images.githubusercontent.com/42620858/53527471-0d693100-3ab5-11e9-8013-200a7a57345e.png)

This screenshot is from https://react.lightningdesignsystem.com/components/inputs/. An example of the proper error icon can be found at https://latest-220.lightningdesignsystem.com/c

[2019-02-27 23:24] #1768 closed

[2019-02-27 23:40] interactivellama commented on #1373
This pattern is for headings and random text on the page.

* The edit pencil icon should be next to the words
* No line should be present
* Visible `label` should be present in the example.
* There are not any line separations (such as footer) inside the popover. The ones in Keith's design are for spacing purposes only.

[2019-02-28 05:29] aswinshenoy opened #1771 "Support for icons & labels in Progress Indicator"
The current progress indicator component does not allow to customize the icon in each step. The user needs to hover the indicator to understand what the step is about.

![image](https://user-images.githubusercontent.com/21276922/53543205-dee86600-3b47-11e9-83cb-aff7ea270f59.png)

**Proposed Implementation**
In the```steps``` property of the component, I propose we should add an optional support fo

[2019-02-28 05:48] aswinshenoy commented on #1365
I wish to work on this, I believe I can do this in a couple of days :+1:

[2019-02-28 14:45] tanhengyeow commented on #1691
Hi @interactivellama

This seems interesting to work on. However, it seems to depend on this [issue](https://github.com/salesforce/design-system-react/issues/1667) to be resolved first. Can I still go ahead and propose the props for this component?

[2019-02-28 15:35] tanhengyeow commented on #1361
For anyone that is following and record purposes, the props proposal can be found [here](https://github.com/salesforce/design-system-react/blob/b3c257f0d08fb74d138e0ca9932de7b70f9a89d8/components/expandable-section/index.jsx#L22), which is part of an ongoing [PR](https://github.com/salesforce/design-system-react/pull/1767).

The `Expandable Section` component sits in the `AppLauncher` component, s

[2019-02-28 18:35] interactivellama commented on #1771
This library is an implementation of https://github.com/salesforce-ux/design-system . You want to make UX pattern suggestion there.

[2019-02-28 18:35] #1771 closed

[2019-02-28 18:37] interactivellama commented on #1771
This page may be helpful too for contextual usage such as for a modal footer. https://lightningdesignsystem.com/components/progress-indicator/

[2019-02-28 23:10] interactivellama opened #1775 "Move Storyshot Snapshots to individual files"
Update DOM snapshots to use single files. Our current file is 63000+ lines
[code]

[2019-03-01 10:40] aswinshenoy commented on #503
I wish to work on this, I believe I can do this in a day.

[2019-03-01 15:25] PUNITBATRA commented on #1694
@interactivellama Hi I want to work on this issue.Please assign me this issue.

[2019-03-01 17:35] #1169 closed

[2019-03-01 19:30] thobhanifreddy commented on #1770
This looks like a quick fix. Can I do this?

[2019-03-01 19:36] interactivellama commented on #1770
Yes.

[2019-03-01 19:46] #1607 closed

[2019-03-02 16:48] thobhanifreddy commented on #1694
can I fix this?

[2019-03-02 18:21] tanhengyeow commented on #1359
Hi @interactivellama ! Here is my props proposal for this component:
[code]
I tried to implement this component (refer to PR) and want to get your feedback before writing the tests. I've labelled some props with `_Tested...` for reference when writing tests later.

Here are some gifs for reference:

Ellie:
![ellie-gif](https://user-images.githubusercontent.com/25320782/53685532-e6318e80-3d56-11e9-

[2019-03-02 18:48] ganeshpatro321 commented on #1716
Hey @interactivellama , I would like to take up this issue, can you please tell me more about the changes needed.
Thank you

[2019-03-02 19:41] thobhanifreddy commented on #1724
I would like to work on this issue.
I have some question, before starting.

can I add prop `closeIcon: PropTypes.bool` in popoverwhich will decide whether to show `x` icon.

I don't really understand this! :(

can I add props `labelSize: PropTypes.number` in tab component?

I can't really figure this out can anyone help me out with this?

Looks like this is already done.

[2019-03-02 19:41] thobhanifreddy commented on #1724
I would like to work on this issue.
I have some question, before starting.

can I add prop `closeIcon: PropTypes.bool` in popoverwhich will decide whether to show `x` icon.

I don't really understand this! :(

can I add props `labelSize: PropTypes.number` in tab component?

I can't really figure this out can anyone help me out with this?

Looks like this is already done.

[2019-03-02 19:54] tanhengyeow commented on #1693
Hi @interactivellama !

This seems like an awesome component to work on to learn more about working in SLDS React! Can I be assigned this issue to work on? In the meantime, let me digest the conversation, experiment a little and clarify questions if any 😄

[2019-03-03 04:02] tanhengyeow commented on #1601
Hi @interactivellama

I've made changes for those styles I could find. Here are my observations for the remaining.

Components not implemented in DSR yet:
1. Dynamic Menu
2. List Builder

Components with no traces of `.slds-text-title_caps` as of latest commit:
1. Global Header
2. Popovers (Panels)

[2019-03-03 14:06] zamhaq commented on #1762
@interactivellama I would like to work on this. Can I get some more context? I understand the `custom-content` needs to be deprecated but I am sure what the statement - `it should be a popover` means?

[2019-03-03 14:56] tanhengyeow commented on #1762
@zamhaq I guess it means any custom content within a dropbox currently should be replaced with the [popover](https://www.lightningdesignsystem.com/components/popovers/) component. Still better for @interactivellama to clarify though :)

[2019-03-04 05:50] aswinshenoy commented on #1363
I would like to work on this, I will send in a PR in a day :)

[2019-03-04 05:54] zamhaq commented on #1762
@interactivellama would be great if you can confirm so that I can proceed with the issue.

[2019-03-04 05:54] tanhengyeow commented on #1363
@aswinshenoy Opps sorry I didn't comment here earlier but I was experimenting with this issue halfway already and it is ahout ready. Do you mind if I work on the this?

[2019-03-04 06:14] aswinshenoy commented on #1363
@tanhengyeow ok boss :+1:

[2019-03-04 06:19] aswinshenoy commented on #1738
I would like to work on this :)

[2019-03-04 06:29] aswinshenoy commented on #1693
@tanhengyeow
Oops, I forgot to comment on this one. I had started working on this the other day, would you mind @tanhengyeow @interactivellama work on this? Maybe you should try the other ones out? sorry :(

[2019-03-04 06:35] aswinshenoy commented on #1693
Hey @tanhengyeow
Oops, I forgot to comment on this one. I had started working on this the other day, would you mind @tanhengyeow if I work on this? thanks.

[2019-03-04 16:29] fezheng397 commented on #1695
@interactivellama I'd love to work on this component, I should have a props proposition by tomorrow night.

[2019-03-04 17:08] tanhengyeow commented on #1691
Am currently working on it :)

[2019-03-04 17:11] tanhengyeow commented on #1693
Hi @aswinshenoy !

Actually I have significant work put in for this issue for the past 2 days. But never mind you can work on this one. Please wait for clarification next time before submitting a PR so that people's work won't be wasted, thank you 😄

[2019-03-04 17:31] aswinshenoy commented on #1693
@tanhengyeow sure :+1:

[2019-03-04 20:49] devgopesh opened #1788 "Some propTypes and setState method are not required in components"
There are certain components in which various propTypes are defined but never used. Also the setState methods should have used prevState in some components and some setState methods are not used correctly.
Some of these components include
utilities
button-stateful
data-table
avatar
page-header

[2019-03-05 07:10] tanhengyeow commented on #1667
@kyleheddon @interactivellama Would be more than happy to move this forward and I've started making changes from the review :)

[2019-03-05 10:58] tanhengyeow commented on #1395
Hi @kwilloughby @interactivellama

Would be glad to help out this issue 😄 Are there any updates discussed offline for the direction for this issue?

[2019-03-05 11:04] tanhengyeow commented on #1533
Working on this!

[2019-03-05 12:02] aswinshenoy commented on #798
I would like to work on this, would send in a patch in a hour :)

[2019-03-05 18:10] kevinparkerson commented on #1361
I proposed props in comments on the [App Launcher rework issue](https://github.com/salesforce/design-system-react/issues/1648) as well, but I'll move the ExpandableSection proposal to this issue instead.

[2019-03-05 18:11] kevinparkerson commented on #1361
This is my proposed PropType API for components/expandable-section:
[code]

[2019-03-05 18:14] tanhengyeow commented on #1008
Hi @interactivellama !

I'm guessing the context has changed much since this issue was raised. States are now exposed to the user e.g. [here](https://github.com/salesforce/design-system-react/blob/master/components/button-stateful/__examples__/icon-text.jsx#L25) and an object is passed in as a prop.

Thus I want to clarify if this statement still applies since a React element isn't used anymore:
[

[2019-03-05 18:33] tanhengyeow commented on #1049
Am working on this 😄

[2019-03-05 18:43] tanhengyeow commented on #1171
Started work on prototyping this :)

[2019-03-06 00:27] pulkonet commented on #1581
@interactivellama Can I work on this?

[2019-03-06 05:54] tanhengyeow commented on #1672
@futuremint Hi! Nice to meet you :) Are you currently working on adding more props for the `Panel` component? If not, I'm happy to go ahead and help to expose the other props :)

[2019-03-06 06:30] zamhaq commented on #1775
@interactivellama please assign the issue to me.

[2019-03-06 07:04] interactivellama commented on #1359
Thank you for taking this task on and proposing props.

* What is the benefit of `children`?
* Since these aren't interactive, I don't think you will need any Mocha tests. Jest snapshots should be fine. I think you can add `_Tested with snapshot testing._` to all the props.

* [ ] Please switch the default to being animated. `isAnimated` to `isStatic`. The animation removal is typically a feature

[2019-03-06 07:25] interactivellama commented on #1716
Thank you for asking. We are modifying the cars engine while it is driving. :-)

* Please allow the current API to exist without changes (internal code can be refactored if needed).
* Keep SLDS markup changes from #1687 (or start over). Here is where the current markup came from https://www.lightningdesignsystem.com/components/page-headers/
* Add render props `onRenderActions` and `onRenderControl

[2019-03-06 07:30] tanhengyeow commented on #1359
Hi @interactivellama

Awesome! Thanks for the feedback! Clear on all that was requested.

With reference to this [example](https://github.com/salesforce/design-system-react/blob/b989aa5241809e261565a9cfe85b2b3393e14114/components/dynamic-icon/__examples__/eq.jsx) I made, I'm showing the dynamic icons that users pass in the component through the `children` props.

With reference to [SLDS](https://w

[2019-03-06 07:32] interactivellama commented on #1601
The general looks correct. I'll put it on my backlog to review.

[2019-03-06 07:36] #1694 closed

[2019-03-06 07:39] #1447 closed

[2019-03-06 08:09] #1770 closed

[2019-03-06 09:23] #1654 closed

[2019-03-06 15:28] MacMorgan opened #1806 "popper.js dependency seems incompatible with Locker Service"
When trying to interact with any components with a positioned dropdown (combobox, date picker, etc.) we are getting the following error which originates from findCommonOffsetParent in popper.js. Seems to be from popper.js trying to access properties/methods on the SecureDocument & SecureElement objects.

![screen shot 2019-03-06 at 10 25 48 am](https://user-images.githubusercontent.com/17681/53892

[2019-03-06 17:16] interactivellama commented on #1806
Popper does a search up it's DOM ancestors to see if there are any overflow hidden parents and whether the Popover or men is hitting the viewport edge. Could that be causes the issue?

For Portals (second React ender trees) when `position: overFlowBoundarElement` is used (since you need position like this in for instance, a Modal), the `body` node is used. Some of the components have a `portalMoun

[2019-03-06 17:41] interactivellama opened #1807 "Node form label label fail proptype validation"
`forms/private/label`'s label prop only supports string at this time which means you can't format the label using `span`, etc.

[2019-03-06 17:46] #1807 closed

[2019-03-06 20:04] MacMorgan commented on #1806
Did a significant amount of research on this. Looks like Locker Service does not properly implement Range.setStart & Range.setEnd which popper.js relies on. A similar issue was fixed in a patch to the Spring 17 Release related to Node APIs (https://salesforce.stackexchange.com/questions/170700/summer-17-lockerservice-error-while-using-node-contains) so I created a similar issue for the Range metho

[2019-03-06 20:19] interactivellama commented on #1806
Sounds good. Thanks!

I guess you could hack/polyfill `popper.js` module at build, while you are waiting, too. It's not built into the library.

[2019-03-06 20:43] kyleheddon commented on #1667
@tanhengyeow I'm open you changes from you. I've been putting out some fires and will not likely be able to make changes to this for at least a couple weeks

[2019-03-06 20:50] pradumangoyal opened #1808 "`package-lock.json` is out of sync"
On freshly installing the npm packages, the `package-lock.json` get out of sync and deviated from git history.

![image](https://user-images.githubusercontent.com/34851451/53912527-20649e00-407f-11e9-86c9-d505183c491f.png)

[2019-03-07 13:48] rmeena840 opened #1810 "GSoC 2019 Query"
I want to work on the project "Add cross-component utility APIs" under GSoC 2019.
Please help me getting started with good first issue so that i get the project workflow. Also please do mention communication channel so that i can further discuss my ideas and learn from the team.

[2019-03-07 20:22] rakhi2104 opened #1812 "Request to add Badge component"
PropTypes draft as mentioned

[code]

I kickstarted working on this component

[2019-03-07 20:25] devgopesh opened #1813 "Some imported bindings are not used in various components"
There are certain components in which various imports are defined but never used. Some of these components include
filter
progress-indicator
combobox
icon
There are also other components in which import bindings are defined but not used.

[2019-03-07 20:46] ashwaniYDV opened #1815 "Condition 'props.hasSpinner' is always true at line 307 components/input/private/inner-input.jsx"
{props.hasSpinner ? (
				<div className="slds-input__icon-group slds-input__icon-group_right">
					{props.hasSpinner && (
						<Spinner......

[2019-03-08 00:48] kevinparkerson commented on #1751
New PropTypes proposal:
[code]

[2019-03-08 01:03] interactivellama commented on #1751
I'm wondering if we are going to need some kind of weird offset or exposing some of the Popper.JS API, we can always cross that river when we need to and for right now assume folks only want to center/top/bottom align items.

[2019-03-08 01:09] #1753 closed

[2019-03-08 01:09] kevinparkerson commented on #1751
Offset will likely be needed at some point, but I agree we should keep it simple for now and only add that on request later.

[2019-03-08 03:00] tanhengyeow commented on #1359
Hi @interactivellama

Didn't mean to re-ping you again, but figured that you might have missed the reply :P Do you have any thoughts for the current `children` prop? If the props proposal is approved, I'll go ahead and finish up this component with tests and re-ping you again once it is ready for review.

[2019-03-08 03:20] pradumangoyal commented on #1812
Hi @rakhi2104, I already had an open PR #1805 to add a Badge component.

[2019-03-08 04:50] #1599 closed

[2019-03-08 06:47] rakhi2104 commented on #1812
Oh, I didn't see an issue, so I thought I'd open one. All the best.

[2019-03-08 06:47] #1812 closed

[2019-03-08 19:58] Prophetess opened #1818 "Clicking on the scrollbar of a combobox closes the menu when embedded inside a modal"
To reproduce this issue, render a Combobox inside a Modal and have a long list of items in the Combobox so that it scrolls.  Use the mouse to select the thumb of the scrollbar and notice the Combobox menu closes before the user can scroll.

[2019-03-08 21:31] interactivellama commented on #1818
This may be an issue with how react-onclickoutside works. One option to consider is having modal set a context that gets accessed by the react-onclickoutside HOC (see `combobox/index.js`) and allows the Combobox to know it's inside a Modal.

Do you know if this is an issue in `Dropdown`, too?

[2019-03-08 21:43] Prophetess commented on #1818
@interactivellama I don't believe it has to do with onclickoutside because the blur is the cause of the menu closing.  I haven't checked the behavior of Dropdown.  I created https://github.com/salesforce/design-system-react/pull/1819 that potentially fixes the issue.

[2019-03-08 21:53] interactivellama commented on #1818
Got it. I misunderstood.

[2019-03-08 22:21] interactivellama opened #1820 "Require consumers to use React 16"
This updates the peer dependency to be `React >16.3` (which was released in March of last year--over a year ago).

[2019-03-08 23:07] #1820 closed

[2019-03-08 23:39] #1649 closed

[2019-03-09 00:15] asifkabani opened #1822 "Combobox issue"
Hi I am implementing the Combobox component and added the property for singleInputDisabled but it does not disable the input.

[2019-03-09 00:20] interactivellama commented on #1822
It should only disabled the read only variant and and inline listbox. Is that missing from the docs?

[2019-03-09 05:48] thobhanifreddy commented on #1815
Can you please add the line 307 link here? It will be easier to locate it that way. Just click on line number and it will create a link. Also if possible can you be more descriptive explaining why it's a bug.

[2019-03-09 06:28] pradumangoyal commented on #1815
I think it's not a bug, it's just double checking the `props.hasSpinner` bool which is not needed.

https://github.com/salesforce/design-system-react/pull/1816/commits/fee763f552a5d11aa962b3333bdbf18d9013071e#diff-c6e3dd62aa113aeceae5ee6af3765792L307

[2019-03-09 14:00] shakti97 opened #1823 "Accordion: Add single panel open option"
# Issue  Description
Add New Feature in Accordion
   To Automatically close Rest of the Opened Element while opening new Element

[2019-03-09 14:01] shakti97 commented on #1823
I would like to work on this issue

[2019-03-09 14:33] rmeena840 commented on #1810
Can anyone please attend this query? Thanks

[2019-03-09 18:15] tanhengyeow commented on #1761
Hi @interactivellama

Have been working on some `menu-dropdown` issues lately and would be interested to work on this next :) Just to check that we are on the same page, work for this is to make sure that when `this.props.openOn === 'hover'`, the `Dropdown` component is still keyboard accessible, am I right?

Do you have anything in mind that you want me to try out?

[2019-03-10 04:42] pradumangoyal commented on #1737
If anyone is not working on it, Can I take it up?

[2019-03-10 06:31] interactivellama commented on #1359
No problem on the ping.

`slds-assistive-text` should be handled with an `assistiveText` object prop with probably the key `label` in order to be consistent with `Icon` component. https://github.com/salesforce/design-system-react/blob/master/components/icon/index.jsx#L113

Thank you for clarifying about the use of `children`. I didn't look that closely at the examples. I think the current `childre

[2019-03-10 07:07] interactivellama commented on #1691
There is no dependency on `DuelingPicklist`. The mention of it was just a UX pattern for the comments.

[2019-03-10 09:22] ashwaniYDV commented on #1815
@pradumangoyal I've got this issue in the link for good first issue, so i thought i could do it. But I'm convinced from you that it's just a double check.

[2019-03-10 12:44] pradumangoyal commented on #1737
Hi @interactivellama , actually `iconVariant` is not ignored. The `brand` option is not present for `iconVariant`. The desired output(Icon button with brand color at background) can be obtained by setting `iconVariant` to `brand`.

![image](https://user-images.githubusercontent.com/34851451/54085133-39f83500-4360-11e9-9441-bbf9cf86e417.png)

The SLDS also have brand in the icon type as shown in th

[2019-03-10 13:29] ashwaniYDV opened #1830 "SLDSAccordian has 3 dropdowns in base whereas only 2 in base-open"
Thank you for filing an issue!

Please review the [frequently asked questions](faq.md) such as:

* [Why do my icons not show up in IE11?](browser-compatibility.md#internet-explorer-11-support)
* [Why aren't my ES6 imports, icons, styles, or fonts working in Create React App?](create-react-app.md)

Please include in your issue: SLDSAccordian has 3 dropdowns in base whereas only 2 in base-open. It s

[2019-03-10 13:30] pradumangoyal commented on #1702
Hi @interactivellama, Can I work and submit a PR on this issue?

[2019-03-10 14:43] pradumangoyal commented on #1717
Hi @interactivellama, I am really interested in working on this issue. Can you please provide some more specifications on this issue.

[2019-03-10 14:45] pradumangoyal commented on #1165
Hi @interactivellama, I am really interested in working on this issue. Can you please provide some more specifications on this issue.

[2019-03-10 14:47] tanhengyeow commented on #1672
Working on it :)

[2019-03-10 18:15] asifkabani commented on #1822
Yes variant is set to readonly

[2019-03-10 18:52] pradumangoyal commented on #1500
Hi @interactivellama, can I take some issues from here to work upon?

[2019-03-11 12:30] sharaththegeek opened #1834 "GSoC 2019 Communication"
Not an Issue but I am not able to reach out anyplace else.
I am Sharath, student from India, interested in this project under Salesforce for GSoC. I would like to work on the topic- "Development of new Lightning Design System components".

Trying to connect with @futuremint and @interactivellama on Twitter to find out a communication forum where we can exchange ideas further. Looking to hear back

[2019-03-11 14:17] rmeena840 commented on #1834
@sharaththegeek I am also GSoC aspirant. I am trying my best to get in touch with a mentor and I have also not found the communication forum for the same.

[2019-03-11 15:39] kwilloughby-sf opened #1836 "Add Tree Grid"
Add Tree Grid (https://latest-220.lightningdesignsystem.com/components/tree-grid/).

[2019-03-11 15:39] tanhengyeow commented on #1836
@kwilloughby I would be happy to work on this!

[2019-03-11 16:23] futuremint commented on #1834
Please open issues in our GSoC repo per the README that we've created for Salesforce -> https://github.com/salesforce/gsoc

Thanks.

[2019-03-11 16:23] #1834 closed

[2019-03-11 16:26] #1810 closed

[2019-03-11 17:27] kwilloughby-sf commented on #1836
Thanks, @tanhengyeow. Please follow the contributing guidelines. Also, I've updated the link I initially posted.

[2019-03-11 17:52] devgopesh commented on #1695
I would like to work on this component.

[2019-03-12 10:56] pradumangoyal commented on #1716
Hi @interactivellama, If no one is working on it currently, can I work on this? I have already submitted a PR pending for review on the issue #1702.

[2019-03-12 17:32] michaelcavallaro03 opened #1837 "Cannot set Timepicker string value programatically"
When you pass a value to the `strValue` you would expect the value to be visibly updated through a rerender. However, this is not the case and no change is displayed or received.

I further tracked it down to the `componentWillReceiveProps` in Timepicker.`strValue` state value only gets updated when both `this.props.value` and `nextProps.value` are not empty.

I added this change locally and every

[2019-03-12 17:48] kunalvishnoi opened #1839 "Content overlap with Background-color on homepage"
**Problem:**
The main hero section content overlaps with background colour in mobile view
**Screenshot:**

![Screenshot_2019-03-12-23-10-38-477_com android chrome](https://user-images.githubusercontent.com/24695316/54222963-7f616180-451c-11e9-8b4a-e0a40e71865f.png)

**Normal Behaviour**
The text should only be in blue portion as background colour and font colour is same i.e white

**Conclusion**
I

[2019-03-13 05:25] interactivellama commented on #1762
@zamhaq Yes, that is correct. Please use a `checkProps` warning with a deprecation of custom content. https://github.com/salesforce/design-system-react/blob/master/components/menu-dropdown/check-props.js#L1

See https://github.com/salesforce/design-system-react/blob/master/components/menu-dropdown/menu-dropdown.jsx#L165 for more info on children.

I think the way this would work is if any children

[2019-03-13 06:11] interactivellama commented on #1008
This one of the older components. The way this component's props would work now to align with other components in the library would be to pass in a complete `<Button/>` component into a `defaultButton`, a `selectedButton` and a `deselectButton` and deprecate `stateOne`, `stateTwo`, and `stateThree`.

The top level props would need to still be passed on, but removed the from the public API.

I woul

[2019-03-13 06:20] interactivellama commented on #1008
I just reviewed the markup again and we don't want to pass in three full `Button` components. I'm going close this for now. If any consumers discover they need their icons on the right or something like that, please re-open.

[2019-03-13 06:20] #1008 closed

[2019-03-13 06:44] interactivellama commented on #1395
This needs a props proposal with some sample example JSX. I recommend throwing together some non-working JSX of what would be in the examples first. That is mockup of https://www.lightningdesignsystem.com/components/form-element/#View-Mode and of https://www.lightningdesignsystem.com/components/form-element/#Edit-Mode

This would also add a `DockedFooter` component (that also needs a props proposa

[2019-03-13 06:47] interactivellama commented on #1395
What you don't see in the examples unfortunately, is that `DockedFooter` https://www.lightningdesignsystem.com/components/docked-form-footer/ his fixed to the bottom of the form and does not move on scroll. If the `RecordForm` does off the page, the DockedFooters sits on the bottom of the page. If the form doesn't go off the page, then it sits at the bottom of the `form` HTML element.

[2019-03-13 06:48] interactivellama commented on #1775
I can't assign it to you unless you are in the Salesforce org. You can take over my pull request and I can close mine if you'd like.

[2019-03-13 07:23] interactivellama commented on #1808
I did a fresh install and did not get this issue. Please share how to duplicate.

![Screen Shot 2019-03-13 at 1 21 44 AM](https://user-images.githubusercontent.com/1290832/54260407-69f53300-452e-11e9-92a0-a8bf9cd3fda9.png)

Could it be a windows only issue?

[2019-03-13 14:45] sharaththegeek opened #1840 "Button Overlap in Alert Example in the Storybook"
For SLDSAlert -> Close Alert in the Storybook, the "Toggle Alert" Button is overlapped when the alert appears. This makes it look clumsy and intrusive as the same button also serves the function of dismissing the alert.

While this is not a performance issue or not something that would affect practical usage while using the Lightning Design System, I believe that since this is a design project, it

[2019-03-13 15:32] sharaththegeek commented on #1840
Need some help with #1841
Can someone help me identify why Travis CI failed. I am not able to figure it out.

[2019-03-13 15:54] sharaththegeek opened #1842 "ButtonStateful Design Decisions"
In the ButtonStateful Components (under SDLSButtonStateful->Doc Site Icon Text Button), I found a button with a surrounding dark blue background. It changes to 'Member' when clicked.

Firstly, the dark blue background surrounding the button seems to be deviating away from giving the component a 'modern' feel.
<img width="127" alt="Screenshot 2019-03-13 at 9 15 06 PM" src="https://user-images.githu

[2019-03-13 16:54] jcjuett opened #1843 "Global header: button must have discernable text"
Bug at this link: http://design-system-react-components.herokuapp.com/?selectedKind=SLDSGlobalHeader&selectedStory=Search%20%2B%20Navigation&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Reproduce error: tab to button (list specific location) and detect button label with VoiceOver

Success criteria: appropriate text inside button must be read by screen read

[2019-03-13 17:16] pradumangoyal commented on #1808
Hey @interactivellama, I think the file is synced again in the [commit](https://github.com/salesforce/design-system-react/commit/5de632294c1eefa676b029c2f2fcbf78c9b88774#diff-32607347f8126e6534ebc7ebaec4853d) that was added after the opening of this issue. So, I am closing this issue.

[2019-03-13 17:16] #1808 closed

[2019-03-13 17:46] interactivellama commented on #1808
Great! Thanks for following up.

[2019-03-13 17:58] abhinavsagar commented on #1840
@sharaththegeek You are overwriting `dev:true` at multiple places that's why travis CI is not able to recognize it.

[2019-03-13 17:58] jcjuett opened #1844 "Global header: form elements must have labels"
http://design-system-react-components.herokuapp.com/?selectedKind=SLDSGlobalHeader&selectedStory=Search%20%2B%20Navigation&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

HTML:  <input aria-activedescendant="" aria-autocomplete="list" aria-expanded="false" class="slds-input" id="undefinedLookup" placeholder="Search Salesforce" role="combobox" type="text" valu

[2019-03-13 22:41] interactivellama commented on #1736
@shleewhite I noticed today that the width of popover should match the width of the input.

![Screen Shot 2019-03-13 at 4 37 05 PM](https://user-images.githubusercontent.com/1290832/54319155-440f7300-45ae-11e9-93b0-63bbf110d113.png)

[2019-03-13 22:43] interactivellama commented on #1171
The Dialog Combobox https://design-system-react-co-pr-1735.herokuapp.com/?selectedKind=SLDSCombobox&selectedStory=Dialog&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel might be good enough for this feature (Dialog Combobox as just added to the Design System in the last few months). Have you gotten very far in exploring this? @tanhengyeow

[2019-03-13 22:43] #1171 closed

[2019-03-13 22:53] interactivellama commented on #1836
Feel free to explore this do a props proposal. This is a large, complicated component and will have features/API from DataTable (such as columns and custom render cells) and from tree (such as nested, normalized data via a `getNodes` callback)--thankfully most of those solutions are implemented.

@garygong is working on adding keyboard navigation to DataTable right now, so that logic should be abl

[2019-03-13 23:39] interactivellama commented on #1761
Yes, that is correct. Pressing enter on the trigger should still open the menu and esc should still close.

It is OK to assume that the user is not using the mouse AND the keyboard. That is if the user opens with the mouse, closing with the mouse is fine OR if they user opens with the keyboard you can force them to close with the keyboard and not the mouse.

The success criteria is the dropdown fu

[2019-03-13 23:53] interactivellama commented on #1762
@tanhengyeow After reviewing your PR, I think modifying the documentation is enough--however, we should put in the menu-dropdown code comments about the prior use of custom content since it's all over the dropdown code.

This would be a good place to transfer all the comments you removed and explain why it's there in the source, so that future contributors know why the logic is the way it is.
http

[2019-03-14 04:18] interactivellama commented on #1823
Sounds good. Please propose an API and JSX sample code.

[2019-03-14 04:30] interactivellama commented on #1815
Yeah, we can remove this. I'm guessing the original coder was thinking about having spinner and iconRight present at the same time and just worked on the render from the child to the parent.

[2019-03-14 04:38] interactivellama commented on #1702
Yes, please do.

[2019-03-14 04:48] interactivellama commented on #1165
The doc website is pretty just a shell and all the content comes from the library NPM module itself https://react.lightningdesignsystem.com/components/comboboxes/#examples

Right now, it is confusing since as you can see in the Combobox example. It's just a bunch of comboboxes. How does someone know what the example is--which Comobobox is read-only and which is auto-complete, etc.

The comment at

[2019-03-14 04:55] interactivellama commented on #1165
Here are the two files that render the examples
parent: https://gist.github.com/interactivellama/23a40d0352c7e4b5ac6763aa891dd435
child: https://gist.github.com/interactivellama/264351d5ffc4ae7355d87d6ed3e71dea

The heading would go somewhere around here: https://gist.github.com/interactivellama/264351d5ffc4ae7355d87d6ed3e71dea#file-component-examples-jsx-L86

[2019-03-14 04:59] interactivellama commented on #1822
https://react.lightningdesignsystem.com/components/comboboxes/#examples

It's working for me.

<img width="1070" alt="Screen Shot 2019-03-13 at 10 58 38 PM" src="https://user-images.githubusercontent.com/1290832/54332398-9b7c0600-45e3-11e9-8d0a-c9570c6d733a.png">

<img width="569" alt="Screen Shot 2019-03-13 at 10 58 45 PM" src="https://user-images.githubusercontent.com/1290832/54332399-a0d95080-4

[2019-03-14 04:59] #1822 closed

[2019-03-14 05:00] interactivellama commented on #1822
Is it not working for multiple select read only?

[2019-03-14 05:02] interactivellama commented on #1500
Yes, please create new issues and then comment on this thread and I will cross them out in the above comment.

[2019-03-14 10:35] tanhengyeow commented on #1171
@interactivellama Not too much, have been dealing with other `menu-dropdown` issues to get more inspiration on an ideal generic dropdown component. Great that you clarified early! 😄

[2019-03-14 13:07] pradumangoyal commented on #1702
@interactivellama, I have already opened a PR kindly review it.

[2019-03-14 16:02] sharaththegeek commented on #1840
@abhinavsagar I removed the package-lock.json file from the fork and replaced it with the clean default. It still fails.

I have no idea why dev:true was overwritten in the first place. Any opinions on how it occurred?

[2019-03-14 16:07] sharaththegeek commented on #1844
Why does the form field in this scenario need a separate label when the placeholder successfully describes the intent of the field?

[2019-03-14 16:12] interactivellama commented on #1844
@sharaththegeek Thanks for asking!

This is an accessibility issue for keyboard users using assistive technology such as screen readers.

https://developer.paciellogroup.com/blog/2011/02/html5-accessibility-chops-the-placeholder-attribute/

[2019-03-14 16:54] tanhengyeow commented on #1843
Hi @interactivellama

I've looked into this a little and all the other stories except `With custom <Avatar />` (which has the avatar props passed in) faces this issue.

They all use this component to render the avatar button (the button is wrapped by an underlying `Popover` component):
[code]
The differing logic is shown below. If there is `Avatar` component passed in, it is rendered in a way that

[2019-03-14 17:24] sharaththegeek commented on #1844
Oh I understand now!
Thank you so much!

[2019-03-14 21:47] interactivellama commented on #1652
@michaelcavallaro03 There's a [Dialog Combobox](https://www.lightningdesignsystem.com/components/combobox/#Combobox-with-a-Dialog) in the works

https://design-system-react-co-pr-1735.herokuapp.com/?selectedKind=SLDSCombobox&selectedStory=Dialog&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-03-14 22:31] pradumangoyal commented on #1716
@interactivellama, I have pushed some changes on already existing PR on `pageHeader` props  #1832 which resolves this issue with #1702 too. Kindly review it and suggest any changes as required.

[2019-03-14 23:14] pradumangoyal commented on #857
I went through the code of `DatePicker` and what I found is that we can't directly produce the date with the just days and not time as, parsed data is of type `[object Date]` which by default includes time and we can't/shouldn't define our own string format to represent date so I think shifting to `midnight` is the best option here. I have started working on a PR for this issue.

[2019-03-15 04:09] interactivellama commented on #1695
Sorry, I've been triaging mostly pull requests this past week. This is a large component. One way to get started is to make sure we have all the subcomponents that are needed and making a list of those here and creating another issue and linking it here.

The final output from an API standpoint is eventually like an SQL query such as `x AND y OR z`, but we can't define the syntax for that since we

[2019-03-15 11:14] pradumangoyal opened #1849 "Remove console warnings & errors"
While running `npm test` one get following console warnings and errors which are maybe due to not updating Examples while updating props of elements. This issue can be resolved by updating examples as required.

![console-errors-test](https://user-images.githubusercontent.com/34851451/54427011-47863400-473f-11e9-90de-3d34a2eeae00.png)

[2019-03-15 11:15] pradumangoyal commented on #1849
Hi @interactivellama, I am working on it. Please comment if there are any more guidelines attached to this issue.

[2019-03-15 14:20] imshubhamsingh commented on #1759
Hi @interactivellama, I find the concept interesting and would like to work on this. Could you provide me with more info what do you mean by `AST of Storybook stories`.

[2019-03-16 03:55] garygong opened #1850 "Builder Header: Add component"
Implement the Builder Header component according to spec: https://www.lightningdesignsystem.com/components/builder-header/

[2019-03-16 04:30] pradumangoyal commented on #1733
Hi @interactivellama, I am interested in working on this. Can you guide me through the specificities? If these are to be similar to other snapshots in these directories?

[2019-03-16 11:10] abhinavsagar opened #1851 "Unable to install it on windows"
I am on windows 10 64 .
After doing `npm install`, I am getting the following error `npm ERR! enoent ENOENT: no such file or directory, rename 'C:\Users\Win 10\Desktop\github\design-system-react\node_modules\@salesforce-ux\design-system' -> 'C:\Users\Win 10\Desktop\github\design-system-react\node_modules\@salesforce-ux\.design-system.DELETE'`.

[2019-03-16 13:04] devgopesh commented on #1733
@pradumangoyal Sorry I didn't mention it but I have been working on it for some time now.I will make a pr related to this shortly.

[2019-03-17 21:23] devgopesh opened #1853 "Some variables are defined but not used"
There are many components in which some variables have been defined but never used for implementaion. Some of these components include
icon
data-table
filter
There are also more components like this.

[2019-03-18 09:21] devgopesh opened #1855 "'this.state' value may not be directly used when updating the state in React component"
There is a component button-stateful in which the state is updated using **this.state** in **handleClick** function in index.jsx file.
In React, this.state may not be the up-to-date value since this.state may be updated asynchronously. Therefore, if the next state is calculated using this.state value, it could be the wrong value. Since React may batch multiple setState() calls at once, this.state

[2019-03-18 17:50] shleewhite commented on #1736
@interactivellama Sorry for the delayed response! I thought that adding this class `slds-popover_full-width` fixed that. I think I updated the SLDS version on my local branch and the styles worked.

[2019-03-18 20:40] interactivellama commented on #1736
@shleewhite This is what I'm seeing here: https://design-system-react-co-pr-1735.herokuapp.com/?selectedKind=SLDSCombobox&selectedStory=Snapshot%20Dialog%20Open&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

![Screen Shot 2019-03-18 at 2 40 21 PM](https://user-images.githubusercontent.com/1290832/54562052-c7084300-498b-11e9-9a90-791f42b15322.png)

[2019-03-18 20:41] interactivellama commented on #1736
Would updating to SLDS to 2.8+ fix this? I'll take a look.

[2019-03-18 22:18] shleewhite commented on #1736
I think updating to 2.8+ will fix it.

[2019-03-19 13:39] aswinshenoy opened #1857 "Add Activity Timeline Component"
Implement the Activity Timeline component according to spec: https://www.lightningdesignsystem.com/components/activity-timeline/

[2019-03-19 21:24] garygong commented on #1850
Here's what I'm thinking for the interface.  What do you think?

### BuilderHeader:

| Name               | Type      | Description                                                                             |
|--------------------|-----------|-----------------------------------------------------------------------------------------|
| assistiveText.icon | string    | Assistive text for the title i

[2019-03-20 14:18] devgopesh commented on #813
@interactivellama Does adding tooltip should make a tooltip appear over a button. Tooltip prop is generally passed to button-trigger.jsx from menu-dropdown.jsx which I think is not needed as it is making a dropdown appear on a trigger. Can you clarify me on this?

[2019-03-20 14:22] devgopesh commented on #1733
@interactivellama I added the ProgressRing to DOM snapshot and make chanes in it which resolves the problem of DOC site examples which were showing an error earlier. Should I make pr for ProgressRing as I  think you can review it and then I can add other components?

[2019-03-20 19:43] jcjuett opened #1861 "Filter/ErrorFilter: missing error message"
http://design-system-react-components.herokuapp.com/?selectedKind=SLDSFilter&selectedStory=ErrorFilter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

HTML:
[code]
Success Criteria: Error message is visible and read by screen reader

Add after <div>:
[code]

**Note `errorMessage` is a part of the API for `FilterGroup` and not `Filter`. For now, the static HTM

[2019-03-21 00:38] #1769 closed

[2019-03-21 02:01] #1743 closed

[2019-03-21 02:51] #1581 closed

[2019-03-21 02:54] #1813 closed

[2019-03-21 02:57] #1815 closed

[2019-03-21 03:56] interactivellama commented on #1601
When making styles changes components, it's best to review what they look like on the SLDS website, and not just follow the task present in the issue. For instance, tree has an additional classname of `'slds-tree__group-header'` added to it now to make it bold.

In writing the issue, I did make the assumption what it would be checked against the SDLS website such as https://www.lightningdesignsyst

[2019-03-21 04:25] tanhengyeow commented on #1601
Noted! Seemed like you have already pushed some commits to fix this, will keep this in mind in the future 😄

[2019-03-21 04:57] interactivellama opened #1862 "Change popover role to dialog"
`Dialog` of variant `popover` causes the ARIA `role=popover` to be used. This is an invalid role. If the variant is popover then the role should be `dialog`.

[2019-03-21 05:06] interactivellama commented on #1733
That's sounds like a good plan @devgopesh.

[2019-03-21 05:16] #1601 closed

[2019-03-21 09:27] pulkonet commented on #1861
@jcjuett @interactivellama Can you explain this issue, so that it can be worked on ?

[2019-03-21 13:13] jcjuett commented on #1861
Please replicate the error field and message here: http://design-system-react-components.herokuapp.com/?selectedKind=SLDSPanel&selectedStory=Filters%20Error&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-03-21 18:27] nik72619c opened #1864 "Dismissable SLDSAlert doesnot close"
Type of issue: Bug

## How to duplicate a bug?
1. Inside the SLDSAlert Section visit Dismissable Alert
2. Try to close the alert box

[2019-03-21 18:31] interactivellama commented on #1864
You can hook up the example to remove the Alert if you want. The website is not public, but all the examples can be found here https://github.com/salesforce/design-system-react/blob/master/components/alert/__docs__/site-stories.js#L11

[2019-03-21 18:33] nik72619c commented on #1864
So shall I work on it to add the functionality or remove the component then?

[2019-03-21 18:43] interactivellama commented on #1864
By "remove", I mean "not render". Closing the alert when mean not rendering the alert. Does that make sense?

[2019-03-21 18:59] nik72619c commented on #1864
Yup

[2019-03-22 00:07] #1855 closed

[2019-03-22 08:59] MuizU opened #1865 "Required Input in Error State, error message still there even though field is filled."
The require error message in the Require Input in Error State does not go away once the field is filled. The bug can be observed through the image below.

![DeepinScreenshot_select-area_20190322142711](https://user-images.githubusercontent.com/35157872/54811500-d39fda80-4cae-11e9-88b9-b8ad506d13dd.png)

[2019-03-22 20:42] interactivellama commented on #1865
These are developer examples. Mostly for testing. If you would like to add some state to the parent example component that makes the error away. The project would be open to it. I'm going to close this, since it's not a bug, but feel free to re-open if you want to pull request some additional functionality in the Example code that will end up on the documentation website.

[2019-03-22 20:43] #1865 closed

[2019-03-23 02:13] interactivellama commented on #1850
Approved!

I don't think we want to force classnames like `slds-button_icon-border` on consumers. This should probably be a new variant or something like that.

[2019-03-25 16:18] #296 closed

[2019-03-25 16:19] interactivellama commented on #491
Fixed in #1741

[2019-03-25 16:19] #491 closed

[2019-03-25 16:22] interactivellama commented on #813
@devgopesh Since, no is complaining about this prop being broken (in two plus years), I think the best path forward is just adding a checkProp sunset like this https://github.com/salesforce/design-system-react/blob/master/components/alert/check-props.js#L14

Let's cut our losses and move forward.

[2019-03-25 19:15] devgopesh commented on #1861
I am working on this.

[2019-03-25 22:04] interactivellama commented on #1861
@devgopesh Thanks! It's mostly a documentation/example update.

[2019-03-26 04:10] prescod opened #1868 "Cannot clear DatePicker from external"
The following example shows three different attempts to clear an input a datepicker. All failed. I have a workaround but it seems to me that it should be coded such that at least one of them works to clear input.

https://gist.github.com/prescod/724c19066b8aa206a6d210c15b077596

My workaround is to change the key and therefore clear the input by re-creating it.

[2019-03-26 12:35] pradumangoyal opened #1869 "Add inverse variant to `Avatar`"
@interactivellama, inverse `variant` is not present at the present stage. I am adding this according to https://lightningdesignsystem.com/components/avatar/?modifiers=inversed&variant=initials. Basically, I am proceeding by adding a bool prop `inverse` in the avatar whose value will add className `slds-avatar__initials_inverse` according to it. Please guide if there are any further things you have

[2019-03-26 12:36] pradumangoyal commented on #1500
Opened issue #1869 to add `inverse` variant in the Avatar

[2019-03-26 14:23] devgopesh commented on #1861
Yes its an example update. I looked into it and we have to add "error mesage" in the error example for filter. Curently it is only showing the red outline not the text i.e. "error message"

[2019-03-27 18:34] jcjuett commented on #1861
Exactly. All you need to do is replicate the error message as it appears in
the Panel Filter Errors component.

JoAnne C. Juett. PhD
Sr. Accessibility Specialist
B2C UX Product Design & Engineering
Salesforce.com <http://salesforce.com/>
Mobile: 317.410.8784

<http://smart.salesforce.com/sig/iheyveld//us_mb/default/link.html>

On Tue, Mar 26, 2019 at 10:23 AM Gopesh Singhal <notifications@github.c

[2019-03-27 18:34] kwilloughby-sf opened #1871 "Remove All Caps Tree Heading"
SLDS has removed the ALL CAPS Tree heading to support localization. The h4 "slds-text-title_caps" class has been replaced with "slds-tree__group-header".

Image below from https://www.lightningdesignsystem.com/components/trees/.

![image](https://user-images.githubusercontent.com/42620858/55102681-581e9e80-509d-11e9-9c54-0b59dd1141a8.png)

[2019-03-27 18:53] interactivellama commented on #1871
This has been fixed by @tanhengyeow

Unreleased Tree component example
http://design-system-react-components.herokuapp.com/?selectedKind=SLDSTree&selectedStory=Base&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-03-27 18:53] #1871 closed

[2019-03-27 20:38] aswinshenoy opened #1872 "Add Chat Component"
Implement the Chat component according to spec: https://www.lightningdesignsystem.com/components/chat/

[2019-03-27 20:47] pradumangoyal opened #1873 "Add Outline Brand variant to `Button`"
Outline Brand ~and Text Destructive~ are not present in the Button component.

[2019-03-27 20:52] pradumangoyal opened #1874 "CSS not available for className `slds-button_text-destructive` and some other classes"
![className_missing](https://user-images.githubusercontent.com/34851451/55111255-03603f80-5100-11e9-9dfe-51e51bd1dd9f.png)

@interactivellama I encountered this issue when I was trying to add `text-destructive` variant in the `Button` element as seen in the screenshot the required className is not present in the CSS file. I have seen this problem at some other places too which I will report shortl

[2019-03-27 20:55] pradumangoyal commented on #1500
@interactivellama, Kindly cross the following issue whose corresponding issues are created separately and being worked upon.

- #1869, Add inverse variant in `Avatar`
- #1873, Add more variants in `Button`

[2019-03-27 21:13] aswinshenoy commented on #1872
Here is my initial prop proposal for the component, what do you think?

### Chat
| Name | Type | Description |
|---|---|---|
| ClassName | array/object/string | Additional Class Names |
| isPastChat | boolean | Whether the chat is from past. Defaults to false. |
| children | Element[ ] | Chat body/content |

### Message
| Name | Type | Description |
|---|---|---|
|direction|enum {"inbound","outbou

[2019-03-28 02:35] pradumangoyal commented on #1874
`slds-tabs_large` & `slds-tabs_medium` are also not present, due to which `Tabs` size modifiers are unable to function.

![tabs-large-missing](https://user-images.githubusercontent.com/34851451/55124925-07a35180-512e-11e9-9087-42bdcb5747ee.png)
_missing slds-tabs_large_

![tabs-medium-missing](https://user-images.githubusercontent.com/34851451/55124932-0bcf6f00-512e-11e9-9b6c-f234a9d960d6.png)
_mi

[2019-03-28 03:20] pradumangoyal commented on #1874
`slds-table_header-hidden` is also not present.

![header-hidden-absent](https://user-images.githubusercontent.com/34851451/55127522-6c62aa00-5136-11e9-9dad-5c8d9b76a163.png)

[2019-03-28 04:01] interactivellama commented on #1839
@kunalvishnoi The documentation website is unfortunately not open source, so there's not an easy way to allow you to fix it. I'll make a note of it. Thank you!

[2019-03-28 04:01] #1839 closed

[2019-03-28 04:09] interactivellama commented on #1842
I think they current style complies with the specifications from https://www.lightningdesignsystem.com/components/buttons/#Selected-with-Hover-State which has a transparent button background when selected.

One option is that we could change the color of the example to be a medium gray such as `#ededed`

[2019-03-28 04:14] #1559 closed

[2019-03-28 04:50] interactivellama commented on #1716
#1832 has been reviewed.

[2019-03-28 05:26] interactivellama commented on #857
@futuremint What do you think about changing dates values (which always include time) in DatePicker to midnight of the user's timezone? Right now, it's inconsistent and is sometimes the current time and sometimes midnight and has been this way for 2+ years.

This will result in a breaking change, and I'm not sure if there is a good way to warn the user about it. One option is that we could rename

[2019-03-28 05:30] interactivellama commented on #1759
For an existing AST plugin see @futuremint 's https://github.com/salesforce/design-system-react/blob/master/scripts/code/find-and-fix-missing-doc-stories.js plugin which analyzes what stories are in the site-stories arrays.

The other place to look for inspiration is https://github.com/reactjs/react-docgen which we current use to generate https://github.com/salesforce/design-system-react/blob/mast

[2019-03-28 05:32] interactivellama commented on #1851
This may be an issue with SLDS. Have you filed an issue over at https://github.com/salesforce-ux/design-system ?

[2019-03-28 05:36] #1853 closed

[2019-03-28 11:53] aswinshenoy opened #1876 "Add Welcome Mat Component"
Implement the Welcome Mat component according to spec: https://www.lightningdesignsystem.com/components/welcome-mat/

I am currently working on the same and will post an initial prop proposal soon.

[2019-03-28 14:29] aswinshenoy commented on #1876
Here is my initial prop proposal for the component, what do you think?

### WelcomeMat
| Name | Type | Description |
|---|---|---|
| ClassName | array/object/string | Additional Class Names |
| infoOnly | boolean | Whether the steps are informational rather than actionable. Defaults to false. |
| title | string | Title for the Welcome Mat. Required |
| description | string | Description for the We

[2019-03-28 15:08] pradumangoyal opened #1877 "Add `CheckboxButton` component"
Implement `CheckboxButton` component according to https://lightningdesignsystem.com/components/checkbox-button/

[2019-03-28 15:08] pradumangoyal commented on #1877
I am working on this and will soon update with the props proposal.

[2019-03-28 20:35] devgopesh commented on #1861
@interactivellama I added the error mesage in the ErrorFilter and on npm start it gives correct output.
![Screenshot from 2019-03-29 02-00-37](https://user-images.githubusercontent.com/25543114/55190870-bbf0b680-51c6-11e9-975b-1983aeb65ea6.png)

I have wrapped the current div element inside another div and added the error message but on doing npm test it shows error in the file. Can you tell me ho

[2019-03-28 21:51] interactivellama commented on #1775
@zamhaq I haven't heard from you in a while. I'm going to take this one back. I think it will help with pull request conflicts

[2019-03-28 22:59] #1775 closed

[2019-03-29 05:39] interactivellama commented on #1751
I've updated target to `onRequestTargetElement`. The underlying function is a callback and the initial code a reviewed didn't handle refs for buttons that rendered after the popover.

[2019-03-29 05:58] #1751 closed

[2019-03-29 15:23] jcjuett opened #1878 "GlobalNavigationBar Base: overlapping list items"
Bug at this link: https://design-system-react-co-pr-1767.herokuapp.com/?selectedKind=SLDSGlobalNavigationBar&selectedStory=Base&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

HTML: `<li class="slds-context-bar__item slds-is-active"><a href="javascript:void(0);" class="slds-context-bar__label-action"><span class="slds-truncate">Menu Item</span></a></li><li cl

[2019-03-30 10:46] devgopesh commented on #1878
@jcjuett I have removed the fourth and fifth list item and it looks as
![Screenshot from 2019-03-30 16-15-11](https://user-images.githubusercontent.com/25543114/55275094-05481f80-5307-11e9-825d-336129f421a6.png)

Is it correct?Should I make a pr regarding this or is there something more that need to be understand?

[2019-03-31 11:23] sharaththegeek commented on #1842
Yes, medium gray looks good.
Will work on it and let you know. :)

[2019-04-01 03:07] interactivellama commented on #1878
No, that's all. I have one thing to add though. None of the nav items are selected now. Could you make home or the third item called Menu Item selected. so we have a visual for what is selected.

@devgopesh Thanks for the quick pick up!

[2019-04-01 11:51] aswinshenoy opened #1879 "Add Files Component"
Implement the Files component according to spec: https://www.lightningdesignsystem.com/components/files/

I am currently working on the same and will post an initial prop proposal soon.

[2019-04-01 12:05] aswinshenoy commented on #1879
Here is my initial prop proposal for the component, what do you think?

### File
| Name | Type | Description |
|---|---|---|
| ClassName | array/object/string | Additional Class Names |
| placeholder | string | URL to placeholder image. |
| title | string | Title for the file |
| description | string | Description for the link attachment |
| externalIcon | string | URL to external icon |
| type |

[2019-04-01 14:40] sharaththegeek opened #1880 "Add File Selector Component"
Implement a File Selector Component based on https://www.lightningdesignsystem.com/components/file-selector/

I am working on it and will post the props proposal soon!

[2019-04-01 14:42] sharaththegeek opened #1881 "Add Rich Text Editor Component"
Implement the Rich Text Editor Component similar to https://www.lightningdesignsystem.com/components/rich-text-editor/

I am working on it and will post the props proposal soon.

[2019-04-01 14:44] sharaththegeek opened #1882 "Add Feeds Component"
Implement the Feeds Component similar to https://www.lightningdesignsystem.com/components/feeds/

I am working on it and will post the props proposal soon!

[2019-04-01 17:34] aswinshenoy opened #1884 "Add Setup Assistant Component"
Implement the Setup Assistant component according to spec: https://www.lightningdesignsystem.com/components/setup-assistant/

I am currently working on the same and will post an initial prop proposal soon.

[2019-04-01 18:46] pulkonet opened #1885 "Add Progress Indicator Vertical Orientation"
As mentioned in #1500 by @interactivellama a vertically oriented Progress Indicator is not yet present.

This can be added according to https://lightningdesignsystem.com/components/progress-indicator/#Vertical

I am working on this issue.

[2019-04-01 19:32] pulkonet opened #1887 "Error on hitting docs site examples in progress rings"
The examples are exported incorrectly in the doc site example page. Shows the following error
<img width="1405" alt="Screenshot 2019-04-02 at 1 01 17 AM" src="https://user-images.githubusercontent.com/24983958/55354263-e605e980-54e2-11e9-9b71-63b474605d8b.png">

I am working on this issue.

[2019-04-02 03:15] #1573 closed

[2019-04-02 03:33] #1707 closed

[2019-04-02 03:36] interactivellama commented on #1500
@pradumangoyal I updated the issue.

[2019-04-02 05:52] interactivellama commented on #1868
This appears to be an issue with https://github.com/salesforce/design-system-react/blob/master/components/date-picker/date-picker.jsx#L286

which is never going to update based on anything falsey due to the `nextProps.value && this.props.value` conditional.

Adding this seems to fixed it, except the propType warning still triggers.

[code]

The problem with allowing undefined is `Datepicker` is on

[2019-04-02 06:22] pulkonet opened #1889 "No example for toast closing after a duration under notifications"
Toasts are alerts that are particularly shown to the user for a limited time. But in the docs under `SLDSNotification`, there is no such example. An example can be added which opens the Toast for, say, 5 seconds and then closes.

I am working on this issue.

[2019-04-02 07:34] pulkonet opened #1891 "Spinner: isDelayed prop missing"
There is a delayed spinner class in SLDS but not present here. A prop `isDelayed` can be added to add the 300ms delay to keep up with SLDS.

The example can be found here https://lightningdesignsystem.com/components/spinners/?density=comfy&example=delayed&variant=base

I will like to take up this issue.

[2019-04-02 09:29] pulkonet commented on #1862
@interactivallama can I take up this issue?

[2019-04-02 16:26] prescod commented on #1868
Empty string would be a good solution, as long as it is the documented way to clear it.

If you wanted a "type-safe" false-y value, new Date(undefined) is also an option.

[2019-04-02 19:28] jcjuett opened #1894 "SLDSButton: button missing button-name"
Bug at this link: https://design-system-react-co-pr-1767.herokuapp.com/?selectedKind=SLDSButton&selectedStory=Small%20Icon%20Hint%20inverse&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Reproduce error: tab to button and detect button label ("unlabeled 0 button") using VoiceOver.
HTML: `<button class="slds-button slds-button_icon-border-inverse slds-button_

[2019-04-02 20:32] pulkonet commented on #1894
I will take up this issue.

[2019-04-03 11:38] pulkonet commented on #1894
There is a very slight error in the code, thanks for pointing it out @jcjuett I have fixed it and I am submitting a PR.

[2019-04-03 12:16] pulkonet opened #1897 "Brand Band: Missing `slds-brand-band_cover` class usage"
There is a class in SLDS for Brand Band `slds-brand-band_cover` which sets the background image size to `cover` rather than the default `contain`. This can be added to the react library as well.

I am working on this issue and will submit a PR soon.

[2019-04-03 12:20] pulkonet opened #1898 "Breadcrumbs: Ability to add overflow menu"
Mentioned in #1500 by @interactivellama, ability to add overflow menu to the breadcrumbs is currently missing in DSR while it is present in SLDS.

I would like to work on this issue and will submit a PR soon.

[2019-04-03 14:07] pulkonet opened #1900 "Lookup: section items are also being selected onClick"
Filtered items of type `section` should not be focusable ( ideally ) The functionality is well handled in on key presses and the `section` type filter items don't get focussed. But with the mouse, it is possible to focus on `section` type filter items and even select those.

[2019-04-03 14:08] pulkonet commented on #1900
It would be a bit more tricky to completely disable the `section` type filter elements, so just making those unselectable would be an improvement.

I am working on this issue and will submit a PR soon. I would try to disable the element altogether without violating the browser guidelines, though an initial read up tells me it would be tricky.

[2019-04-04 15:32] pulkonet commented on #1500
@interactivellama Please cross the following issues from above in lieu of the recently opened issues:

- #1885 : Progress Indicator, new vertical variant
- #1902 : Breadcrumbs, add overflow option

[2019-04-04 16:02] sharaththegeek commented on #1880
Here is my initial props proposal for the File Selector Component. Please let me know your thoughts.

Name | Type | Description
------ | ----- | ------
ClassName | String/Array/Object | Additional Class Names for Formatting
Type | Enum {“base”, “image”, “integrated”} | Defines the type of File Selector (default: base)
primaryLabel | String | Text for the primary label (Appears before the component

[2019-04-04 16:22] sharaththegeek commented on #1881
Here is my initial prop proposal for the Rich Text Editor Component. Please let me know your thoughts.

Name | Type | Description
----- | ----- | -----
ClassName | String/Array/Object | Additional Class Names for Formatting
toolbarPosition | Enum {“Top”, “Bottom”} | Current Position of Toolbar
label | String | Content of the label to be placed before the text editor
placeholder | String | Content

[2019-04-04 16:58] sharaththegeek commented on #1882
Here is my initial props proposal for the Feeds Component. Please let me know your thoughts.

The Feeds Component is divided into multiple sub-components.

Feed:

Name | Type | Description
---- | ---- | -----
ClassName | Array/Object/String | Additional Class Names for Formatting

Post:

Name | Type | Description
---- | ---- | -----
user | Element | Author of the Post
postType | Enum {“Text”, “Que

[2019-04-05 04:12] #1655 closed

[2019-04-05 06:10] interactivellama commented on #1868
I think the best solution is adding the lines above and allowing for a string type in the PropTypes. It seems to me if you allow users to type in an input, you should allow a string, too. This is also the same behavior as when all of `componentWillReceiveProps` is removed.

I can put this on my backlog to do or you can pull request it. We will need at least one unit test with empty string to make

[2019-04-05 06:13] interactivellama commented on #1869
This looks good. I will review.

[2019-04-05 07:12] interactivellama commented on #1874
@pradumangoyal What version of SLDS are you using? I see `slds-tabs_medium` in 2.8.3.

[2019-04-05 07:32] #1869 closed

[2019-04-05 08:05] #1873 closed

[2019-04-05 08:27] interactivellama commented on #1872
Great props proposal. It's clear for a complex component.

* `isUnsupported` and `isUndelivered` should probably be the same prop, since they can't both be true and it looks like they are limited to whether they are inbound or outbound.
* `peek` and `showAvatar` are booleans and probably should be `isSneakPeek` and `hasAvatar`
* Attachment should be a variant of the `File` component https://www.li

[2019-04-05 08:29] interactivellama commented on #1872
I will try to get https://github.com/salesforce/design-system-react/issues/1879 looked over tomorrow.

[2019-04-05 10:24] pulkonet commented on #1724
I would like to work on this issue

[2019-04-05 14:14] pulkonet opened #1905 "AppLauncher: Accordion arrow direction doesn't change on toggle state"
Accordion arrow direction doesn't change when the arrow is clicked to toggle the state of the app launcher.

<img width="1536" alt="Screen Shot 2019-04-05 at 7 42 25 PM" src="https://user-images.githubusercontent.com/24983958/55633930-fec01900-57da-11e9-8ad7-2765f440c180.png">

Like in the screen grab above, the arrow beside `All Items` and the arrow beside `All Apps` point in the same direction,

[2019-04-05 14:14] pulkonet commented on #1905
I am working on this issue.

[2019-04-05 17:30] pulkonet opened #1907 "AppLauncher: iconText not consistent with heading in an example"
A very trivial issue to be honest, but fixing it would be great for consistency. In one of the examples, the `heading` of AppLauncher Tile is `Journey Builder` but the `iconText` is set to `SC` which can be easily fixed.

[2019-04-05 18:34] pulkonet commented on #1500
@interactivellama I wanted to make sure what exactly you mean by

Need ability to specify length of the dropdown before scrolling
https://lightningdesignsystem.com/components/menus/#With-Overflow-Scrolling

this point above. Because as far as I can see, passing a `length` prop to the `<Dropdown />` component is changing the length as specified in SLDS.

Please let me know if I am missing something

[2019-04-05 23:07] pulkonet opened #1910 "Add Publishers component from SLDS"
Add the `Publishers` component from SLDS according to the spec:
https://lightningdesignsystem.com/components/publishers/

I will submit a props proposal soon.

[2019-04-08 22:00] interactivellama commented on #1373
* This is not connected with an Input. Input should be removed from the pattern and moved to Popover folder. `component/popover/edit-dialog.jsx`
* Edit Dialog should it's own sub component and have a default child of an edit icon/button that can have it's assistive text changed.

[code]
Use case:
![53668065-0ca8da00-3c30-11e9-92fe-8ef3a351bcfe](https://user-images.githubusercontent.com/1290832/557

[2019-04-11 19:21] kevinparkerson opened #1912 "Illustration component manipulates `style` prop object"
The illustration component sometimes throws a really ugly error on the large example locally because the `style` prop is directly manipulated. Code should be rearranged so that the `style` prop is extended into another object first, which is then manipulated and applied to the svg elements.

@kevinparkerson will be handling this work

[2019-04-12 16:25] #1726 closed

[2019-04-15 15:56] dehru commented on #1346
Hello, has there been any progress on types?

[2019-04-15 18:05] interactivellama commented on #1346
@dehru I think @futuremint has been pulled into other organizational priorities.

I'm un-assigning the issue from you @futuremint until you are able to take this up.

[2019-04-15 18:11] futuremint commented on #1346
Thats fine to un-assign it.  @dehru we're an open sourced project and would welcome a contribution for this if you're inclined to take it on yourself.

[2019-04-16 18:14] interactivellama commented on #1732
More aXe tests based on storybook stories @jcjuett

[code]

[2019-04-16 20:03] #1864 closed

[2019-04-16 20:15] interactivellama commented on #1862
@pulkonet Yes, sorry for the delay. Updated ARIA role would be appreciated.

[2019-04-16 20:36] jcjuett opened #1914 "SLDSTree: button needs discernible name"
Bug at this link: http://design-system-react-components.herokuapp.com/?selectedKind=SLDSTree&selectedStory=Base&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Reproduce error: `<div class="slds-tree__item slds-is-selected"><button class="slds-button slds-button_icon slds-m-right_small slds-is-disabled" disabled="" tabindex="-1" type="button"><svg aria-hidden

[2019-04-16 20:51] jcjuett opened #1915 "SLDSButton:Small Icon Hint inverse: button needs discernible text"
Bug at this link: http://design-system-react-components.herokuapp.com/?selectedKind=SLDSButton&selectedStory=Small%20Icon%20Hint%20inverse&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Reproduce error: `<button class="slds-button slds-button_icon-border-inverse slds-button_icon-small" type="button"><svg aria-hidden="true" class="slds-button__icon slds-butto

[2019-04-16 21:04] #1894 closed

[2019-04-16 22:11] interactivellama opened #1916 "Modal: dismissOnClickOutside should become disableCloseOnClickOutside"
Follow up to @davidlygagnon 's great catch on removing default true props https://github.com/salesforce/design-system-react/pull/1777#discussion_r263555196

`dismissOnClickOutside` should be deprecated with `checkProps` function (see PR above) and replaced with `disableCloseOnClickOutside`

[2019-04-16 22:25] #503 closed

[2019-04-17 16:17] interactivellama commented on #1697
@kevinparkerson Here is the example currently in Platform on the Home screen.

![carousel](https://user-images.githubusercontent.com/1290832/56303789-f7154400-60f9-11e9-996a-a4e4d0128c24.png)

[2019-04-17 16:48] #1788 closed

[2019-04-18 05:57] #1818 closed

[2019-04-18 06:02] interactivellama commented on #1900
@pulkonet Lookup is a deprecated component and is only present in storybook for legacy. As such, no changes will be made to it.

Lookup is not present on the https://react.lightningdesignsystem.com/ . Would there be a better way to tell contributors that it is deprecated?

[2019-04-18 06:03] interactivellama commented on #1900
The Lookup component is the Combobox: Autocomplete variant. SLDS changes its names from time to time unfortunately.

[2019-04-18 06:03] #1900 closed

[2019-04-18 06:21] #1736 closed

[2019-04-18 07:12] pulkonet commented on #1900
@interactivellama I think it would be great if we can add a banner/alert to deprecated components in the storybook. That will warn the contributors in the first place. Or we can have a red mark next to the components name if it is deprecated.  Anyway, it's always fun to fiddle around with the legacy code as well.

[2019-04-18 09:23] pulkonet opened #1919 "Wrong Button Renderer used in example"
In the `Button` example of Outline Brand Button, the button renderer used is of icon type but the button actually is a text button. So `getButton` method should be used instead of `getIconButton`

[code]

Would be an easy fix. Just have to change the function called.

[2019-04-18 09:36] pulkonet commented on #1915
@jcjuett I think this issue is fixed by #1896

[2019-04-18 09:56] pulkonet commented on #1914
@jcjuett Can you help me understand why this assistive text is needed for a disabled button, which does not intend to do the task of **expanding the tree item**? Because the item is the last node of the tree and couldn't be expanded any further, that is why the button is disabled in the first place.

This is a quick fix anyway.

[2019-04-18 15:52] #1862 closed

[2019-04-18 15:55] interactivellama commented on #1915
@pulkonet Thanks for the follow up! Yep it's fixed. Two issues fixed. 💯  Closing.

[2019-04-18 15:57] jcjuett commented on #1914
@pulkonet good question. Because this is a variant, we still need it to be consistent. Although the name will not be read, it needs to be present in order to meet accessibility guidelines.

[2019-04-18 15:58] #1919 closed

[2019-04-18 16:06] interactivellama opened #1921 "Add visual deprecation heading to deprecated components"
In response to #1900, this is a suggestion to add deprecation headings to deprecated, so that everyone knows not to touch them.

[code]

This is my suggestion, but feel free to make the text red or add an icon, etc.

[2019-04-18 16:07] interactivellama commented on #1900
@pulkonet Sounds like a good way to add clarity to the project for contributors. I've created #1921

[2019-04-18 16:23] pulkonet commented on #1921
I will try different ways and post screenshots here, then we can go ahead with either of those.

[2019-04-18 16:26] pulkonet commented on #1914
I can go ahead and add the name right away, but I think we either need a better name for the disabled button or another way to render the tree item because the button is not of any use other than providing the required margin to align with other tree items.

@jcjuett @interactivellama What are your suggestions?

[2019-04-18 16:46] interactivellama commented on #1921
Please use both. One for attention getting and one for information clarification

[2019-04-18 16:57] interactivellama commented on #1914
Yeah, this is an odd situation and doesn't help actual user experience. We are only doing this in order to meet a technical spec and pass markup auditing.

With that said, this is a minor update in order to pass markup audits. I like something that speaks to why it's here. I like `Presentational Disabled Button` and will get obviously flagged as a bug if it's ever not disabled. 😄

Presentational r

[2019-04-18 16:59] interactivellama commented on #1914
It looks like `role=presentation` will work. https://dequeuniversity.com/rules/axe/3.1/button-name?application=axeAPI

I'd prefer that solution over adding text that is never read.

[2019-04-18 17:04] interactivellama commented on #1914
SLDS https://lightningdesignsystem.com/components/trees/ has decided go for with `aria-hidden="true"` on all the Tree buttons instead. Tree navigation is implicit in the tree for ARIA technology.

@pulkonet Please `aria-hidden="true"` to all tree buttons when it is convenient.

[2019-04-18 17:09] pulkonet commented on #1921
<img width="1792" alt="Screenshot 2019-04-18 at 10 38 19 PM" src="https://user-images.githubusercontent.com/24983958/56378447-b701ae80-622a-11e9-9bd4-379044390831.png">

The notification is intended for the same exact task, can we use this?

[2019-04-18 18:48] interactivellama commented on #1921
Notification is a deprecated component. It's use would kind of be ironic. 😄

`Alert` sounds good though. Is that what you are using?
https://react.lightningdesignsystem.com/components/alerts/

[2019-04-18 18:50] pulkonet commented on #1921
Yes yes, it is an alert. If it looks good and informative I can push the code.

[2019-04-18 18:59] #1914 closed

[2019-04-18 19:02] interactivellama commented on #1921
Please uses a period instead of a semi colon.

Visual is approved.

[2019-04-18 19:02] pulkonet commented on #1921
Sure, will do that. Will send a PR soon.

[2019-04-19 04:44] interactivellama commented on #1877
Is there anything you need from me for the props proposal?

I believe that it would be very close to the checkbox props, but feel free to make it a much smaller subset.

[2019-04-19 04:48] interactivellama commented on #1861
This library uses story-based DOM snapshot tests built using the Jest test framework. https://github.com/salesforce/design-system-react/tree/master/tests#story-based-tests

`npm run test:snapshot -- -u` will create new snapshots. Only add the PNGs though that need updating. More than are needed might be generated.

[2019-04-19 04:54] #1921 closed

[2019-04-19 05:04] #1887 closed

[2019-04-19 05:07] #1889 closed

[2019-04-19 05:08] interactivellama commented on #1889
For other folks, the non-deprecated toast can be found at https://react.lightningdesignsystem.com/components/toasts/
and
http://design-system-react-components.herokuapp.com/?selectedKind=SLDSToast&selectedStory=Info&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-04-19 05:28] #1878 closed

[2019-04-19 05:40] interactivellama commented on #1500
@pulkonet This list was copy and pasted from release notes from SLDS. As you say, that looks like once that DSR already has had for a while.

In a way, you can look at SLDS as documentation blueprints and then all the various JS components as implementation. Sometimes the implementation is ahead of the documentation. 😄

[2019-04-19 05:42] #1891 closed

[2019-04-19 06:34] #1897 closed

[2019-04-19 12:32] pulkonet commented on #1861
@devgopesh Let me know if you're not working on this, I will make the changes and get it closed.

[2019-04-19 12:35] devgopesh commented on #1861
@pulkonet I am working on it.

[2019-04-19 15:52] #1905 closed

[2019-04-19 16:06] interactivellama commented on #1861
I just added the `npm run test:snapshot:update` command if you want to test that out. Hopefully, that makes it a little more clear.

[2019-04-19 16:18] #1885 closed

[2019-04-19 16:30] interactivellama opened #1925 "Carousel: Add user interaction Mocha tests"
Follow up on #1918, so that it can moved from a prototype to production component in the library.

[2019-04-19 16:53] #1697 closed

[2019-04-19 21:44] interactivellama opened #1927 "Carousel: Add prototype console warning"
Carousel is a prototype component, but it does not have console warning via `checkProps`

[2019-04-20 20:14] #1927 closed

[2019-04-21 18:00] pulkonet opened #1933 "Components Checklist: Exhaustive checklist of components to be added to align DSR with SLDS"
This is a checklist that can be continually updated to help contributors know the remaining components in SLDS which are yet to be added in DSR. This will also be a reference point for any issues opened / initial pull requests submitted to add the component.

isAdded to DSR | Name | Priority | Issue | PR |
| ------ | ------ | ------ | ------ | ------ |
| <ul><li>- [ ] </li></ul> | Activity Timelin

[2019-04-21 18:10] pulkonet commented on #1933
@interactivellama @kevinparkerson @futuremint  it would be great if you can add the priorities, whenever you have time.

[2019-04-22 14:52] interactivellama commented on #1933
Last week, I was focused on code reviews and getting v0.10 out the door. This week I will be turning to a longer term vision and doing [Salesforce] release planning and determining priorities of the next few months. Thank you for creating this. It is helpful to me.

Most likely I will be prioritizing issues at this location https://github.com/salesforce/design-system-react/milestone/22 or creating

[2019-04-22 15:21] #813 closed

[2019-04-22 15:22] #1915 closed

[2019-04-22 15:32] interactivellama commented on #1732
I'm going to close this issue and let @jcjuett make individual issue as she audits the library.

**These issues are NOT currently fixed**

[2019-04-22 15:32] #1732 closed

[2019-04-22 16:19] interactivellama commented on #1417
I'm going to close this issue, but keep #1797 open and review the pull request. aXe testing has shifted to the CI service/process on Travis and `npm test`

[2019-04-22 16:19] #1417 closed

[2019-04-22 16:23] interactivellama commented on #1675
Closing since the a11y addon was removed and aXe testing is being done through Storyshots now in `npm test:accessibility`.

[2019-04-22 16:23] #1675 closed

[2019-04-22 16:46] pulkonet commented on #1672
I am willing to add the remaining props here. @tanhengyeow Are you still working on it? If not, please let me know.

[2019-04-22 17:03] pulkonet commented on #1371
I am willing to work on this. @interactivellama

[2019-04-22 17:56] pulkonet commented on #1165
@interactivellama I wanted to discuss this further:

If I am right, this LOC maps the nodes from `site-stories.jsx` present in each component's `__docs__` folder.

[code]
So currently, the node is a module being exported from the `__examples__` folder. I skimmed through the code and felt that it would be difficult to add something like `exampleClass.docSiteExampleHeading="Read-only single select C

[2019-04-22 18:51] interactivellama opened #1937 "Carousel button import is incorrect"
Thank you to @dennismphil for telling me about this issue.

[code]

[2019-04-22 19:09] #1937 closed

[2019-04-23 16:50] interactivellama opened #1941 "Remove all caps from Page Header"
Please review all Page Header stories in storybook and verify that is no all caps text

http://design-system-react-components.herokuapp.com/?selectedKind=SLDSPageHeader&selectedStory=Docs%20site%20RecordHome&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-04-23 16:51] interactivellama opened #1942 "Combobox Dialog Checkbox on doc site are broken"
Checkboxes in Storybook work fine.

http://design-system-react-components.herokuapp.com/?selectedKind=SLDSCombobox&selectedStory=Dialog&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-pane

However, checkboxes in the Combobox dialog on the doc site do not work correctly: https://react.lightningdesignsystem.com/components/comboboxes/ (it's the last example)

This app

[2019-04-23 17:05] interactivellama opened #1943 "Add outline brand button to button examples on doc website"
Please add `outline-brand` variant option to documentation examples for website

<img width="477" alt="Screen Shot 2019-04-23 at 10 57 34 AM" src="https://user-images.githubusercontent.com/1290832/56601003-44d8f300-65b7-11e9-83c3-95a0d2213493.png">

It should be placed in this file https://github.com/salesforce/design-system-react/blob/master/components/button/__examples__/brand-disabled-destructi

[2019-04-23 17:33] interactivellama opened #1944 "Progress Indicator: Add vertical orientation example to doc site"
orientation="vertical"

![Screen Shot 2019-04-23 at 11 31 11 AM](https://user-images.githubusercontent.com/1290832/56602758-70f67300-65bb-11e9-88e1-6550838d5e07.png)

![Screen Shot 2019-04-23 at 11 31 14 AM](https://user-images.githubusercontent.com/1290832/56602767-7358cd00-65bb-11e9-830d-1f8a115d694d.png)

New example file would be best. Add existing storybook story to this array at https://gith

[2019-04-23 17:39] interactivellama opened #1945 "Remove IconSettings from a11y and snapshot tests"
It currently isn't there, but should never be and should be removed via Regex in the story names

[2019-04-23 17:40] interactivellama commented on #1945
Inline edit is deprecated.
MenuPicklist is deprecated

[2019-04-23 18:44] pulkonet commented on #1944
I am on it. @interactivellama

[2019-04-23 18:45] pulkonet commented on #1943
@interactivellama I will add this too.

[2019-04-23 18:45] interactivellama opened #1946 "Icon: Icon border inverse focus accessibility"
The following SLDS CSS that should be working, but isn't. This is probably be a missing class name issue--if I had to guess
[code]

LDSR:
![Screen Shot 2019-04-23 at 12 43 23 PM](https://user-images.githubusercontent.com/1290832/56607301-735dca80-65c5-11e9-9142-b85a5309d045.png)

SLDS:
![Screen Shot 2019-04-23 at 12 44 22 PM](https://user-images.githubusercontent.com/1290832/56607351-96887a00-65c5

[2019-04-23 18:47] interactivellama commented on #1944
@pulkonet My designer is saying that the italics and bold text should be removed, too.

[2019-04-23 18:48] interactivellama commented on #1946
@jcjuett I'm going to close this issue until we know what we want to do.

@kevinparkerson for awareness that we don't know what we are doing with this issue.

[2019-04-23 18:48] #1946 closed

[2019-04-23 19:10] jcjuett commented on #1946
This makes sense. I'll keep open on my spreadsheet until we come up with a solution.

[2019-04-24 20:39] interactivellama opened #1950 "Add search to SplitView"
This is possibly for Einstein Insights.

![Screen Shot 2019-04-24 at 2 38 11 PM](https://user-images.githubusercontent.com/1290832/56692070-9ad49600-669e-11e9-94b0-e2570c17fcb7.png)

Current page headers with search on Platform look like this:
![Screen Shot 2019-04-24 at 2 33 28 PM](https://user-images.githubusercontent.com/1290832/56692094-a88a1b80-669e-11e9-8c5d-833bde955068.png)

 @kwilloughby-

[2019-04-24 20:48] interactivellama opened #1951 "Carousel: Focus is grabbed when slide auto changes"
If the autoplay option is `true`, then when the item/slide changes, the bottom carousel navigation receives focus. This is the correct UX pattern for when the user is interacting with the Carousel's bottom navigation.

There is a similar type of pattern in Combobox--that is if the menu/listbox has focus, then you want to grab focus otherwise you don't. Search for `listboxHasFocus`

The solution is

[2019-04-24 21:34] interactivellama commented on #1732
@jcjuett aXe testing for the component stories you requested:
* Modal
* Popover
* Radio
* Spinner
* TimePicker

[code]

[2019-04-25 19:25] #1594 closed

[2019-04-25 20:09] interactivellama opened #1952 "Vertical Progress Indicator: Support Setup Assistant"
This needs some more clarity and more detail to meet definition of ready, but I'm thinking a `setup-assistant` variant be added to progress indicator that allows `actions` on right side and add the gray line divider, etc. This would then be used as a sub component of Setup Assistant. Since this would only be used in Setup Assistant at this point, I'd propose that it just be a simple `onRenderActio

[2019-04-25 22:12] garygong commented on #1850
After working on implementing this, here are some changes that I thought needed to be made to the component API.  The biggest change is to use a new link component instead of `<Button>`.

After reading the ["Button vs. Link"](https://lightningdesignsystem.com/components/buttons/#Button-vs.-Link) explanation, I thought that this makes sense since the spec indicated that the nav items should be link

[2019-04-26 06:51] #1373 closed

[2019-04-26 07:10] #1944 closed

[2019-04-26 07:26] #1359 closed

[2019-04-26 07:29] #1365 closed

[2019-04-26 07:46] #802 closed

[2019-04-26 18:40] mattlysf opened #1954 "Modal: dismissOnClickOutside cannot be set to false to override disableClose"
The Modal component determines if it should dismiss itself on outside clicks via this ternary expression:

[code]

When setting `dismissOnClickOutside` to false, it is equivalent to `false ? false : true` and will not evaluate to the value of `this.props.dismissOnClickOutside`.

I'll send a PR over on Monday.

[2019-04-26 20:22] #1702 closed

[2019-04-26 20:29] interactivellama commented on #1954
Great find. Thanks!

[2019-04-26 21:59] mattlysf commented on #1954
So for whatever reason, your bot tagged my personal github account for the CLA, not this one I use for work and will be contributing under. I've gone through the CLA for this account.

[2019-04-26 22:00] pulkonet commented on #1952
@interactivellama I will send in a draft PR tonight and we can discuss more then.

[2019-04-27 05:11] #1907 closed

[2019-04-27 05:44] #1954 closed

[2019-04-27 05:52] #1507 closed

[2019-04-27 06:09] #1840 closed

[2019-04-27 06:12] #1842 closed

[2019-04-27 06:29] #1943 closed

[2019-04-27 06:55] #1941 closed

[2019-04-27 07:21] interactivellama commented on #1165
I think that is thoughtful solution and probably less likely for someone to forget than a display name or class property, especially if all the other objects in the array have a title in them. I like it.

[2019-04-27 07:24] interactivellama commented on #1879
I still need to look at this closer, but my initial thoughts are:

* `externalIcon` and `type` should probably take an `Icon` component. Path should be dealt with there. `icon={<Icon name="audio" />}` should work I think.
* Looking at the spec. it looks like you need a Dropdown menu passed in. Maybe `actionsDropdown`?
* `onClick` should be a function callback

[2019-04-27 09:37] pulkonet commented on #1165
I can change the `site-stories.jsx` file in `Combobox` but changes need to be made in the doc site renderer files also. How are we going to do that?

[2019-04-29 08:19] #1762 closed

[2019-04-29 16:28] #798 closed

[2019-04-29 21:37] interactivellama opened #1956 "Illustration: Add all Illustrations from SLDS 2.8"
Add all SVGs to library
https://www.lightningdesignsystem.com/components/illustration/

[2019-04-29 21:45] interactivellama opened #1957 "Popover: Feature Variant"
Much of this feature set was delivered with `walkthrough-action` variant, this issue is to add any remaining features needed.

https://github.com/salesforce/design-system-react/issues/1957

Please prose props when you pick this up.

[2019-04-29 22:30] kevinparkerson commented on #1933
@pulkonet this is extremely helpful, thank you!

[2019-04-29 22:32] interactivellama commented on #1933
I removed Picklist, because it's a Combobox variant.

[2019-04-29 23:26] pulkonet commented on #1956
I will take this up.

[2019-04-30 01:22] kevinparkerson opened #1958 "Carousel needs the capacity to be a controlled component"
Currently carousel is lacking certain features that allow it to be a controlled component. While more edge-case, this limits applications from handling user interactions with the carousel itself. The following features should be added:

* `currentPanel` should be a prop that controls the active panel, falling back to state only if undefined.
* `onRequestPanelChange` should be a function that fires

[2019-05-01 16:42] BenjaminWFox commented on #1717
Do you have any update on this or workaround for preventing the errors while running tests?

[2019-05-01 22:57] kwilloughby-sf opened #1959 "Carousel Design Updates"
- [x] Use the slds-button_outline-neutral button instead of the slds-button_outline-brand button. It would be nice if this was configurable though to use other button colors.
- [x] Make the padding on the left and right side of each item 6px instead of 8px. This will make the total gap between items 12px.
- [x] Increase the left/right button size so it is slds-button_icon-small (24px by 24px) inst

[2019-05-01 22:58] kwilloughby-sf commented on #1959
@interactivellama, here are the changes we talked about yesterday. Let me know if any of these are unclear.

[2019-05-01 23:08] interactivellama commented on #1959
@kevinparkerson This is @kwilloughby-sf 's design audit of our current multiple-item carousel. Please add into the existing Carousel issues if it does not jeopardize pull requesting by next Wednesday. Easy issues should be prioritized first.

[2019-05-02 19:42] kevinparkerson opened #1961 "Cards documentation needs to be more robust"
If you look at the SLDS documentation site, there are a lot more configurations of cards on display than we have showing on the LDSR example site:

https://www.lightningdesignsystem.com/components/cards/
https://design-system-react.herokuapp.com/components/cards/

We should add a few more examples to demonstrate that flexibility, and if there are any limitations create issues to add those features

[2019-05-02 20:15] kevinparkerson opened #1962 "Color picker should allow "dragging" of working color HSV grid circle for custom tab"
The current interaction is to move the working color HSV grid circle in the custom tab onClick, which is less intuitive than most color selectors. It should instead listen for onMouseDown, onMouseMove, and onMouseUp, moving the circle whenever the mouse moves and adjusting the color as needed.

[2019-05-02 21:53] interactivellama commented on #1952
@pulkonet We have an internal need for this and would like get it released next week. Do you still want to work on this?

[2019-05-02 22:05] interactivellama commented on #1884
@aswinshenoy Like Progress Bar and Scoped Notifications--we have an internal need for Setup Assistant and would like get it reviewed and released next week. This internal conversation occurred in the last week.

I don't want to place a heavy burden on you while you are finishing up semester exams, etc.--please feel completely  open to declining any more work on Setup Assistant if it is not conveni

[2019-05-02 22:31] interactivellama commented on #1884
### Setup Assistant props proposal (draft)

Feedback is welcome!

[code]

Should be added in #1952
* setupAssistantEstimatedTime: text, node // only used in variant: setup-assistant
* onRenderSetupAssistantAction: button, base button, toggle checkbox, etc.

Maybe add later:
* progressRing: progressRing (optional for complete control, progress indicator should be primary API for steps, but a progre

[2019-05-02 22:38] interactivellama commented on #1952
Props proposal (draft)

Add to `steps` array as optional
[code]

[2019-05-03 00:02] pulkonet commented on #1952
@interactivellama Can you tell me do we need to add `setupAssistantEstimatedTime` in the design?

[2019-05-03 00:05] aswinshenoy commented on #1884
@interactivellama I have sent a PR with the work I had done so far, it isn't really ready for a PR but I just pushed it. It supports the base variant, and step progress variant. I have gone through your prop-proposal and will add the missing props and make necessary changes asap.
It's very unfortunate that I have my semester exams starting next week, and so I would be able to put 100% for it :(

[2019-05-03 00:09] pulkonet commented on #1952
<img width="1416" alt="Screenshot 2019-05-03 at 5 38 33 AM" src="https://user-images.githubusercontent.com/24983958/57114197-bb1ee780-6d65-11e9-97a4-912020aed57e.png">

I have added the buttons/checkboxes shown in the image above. Let me know your thoughts.

[2019-05-03 03:25] jericbas opened #1966 "Errors occur after clicking Dropdown"
This error is showing after opening the dropdown.

[code]

[2019-05-03 04:01] interactivellama commented on #1966
@jericbas I think you have the wrong library. [Aura Components](https://github.com/forcedotcom/aura) are a different repository. This library uses the [React view library](https://github.com/forcedotcom/aura).

[2019-05-03 04:01] #1966 closed

[2019-05-03 04:21] #1738 closed

[2019-05-03 16:15] interactivellama commented on #1952
`setupAssistantEstimatedTime` Would be added after the `onRenderSetupAssistantAction `. It would render text into the gray text `<p class="slds-text-align_right slds-text-color_weak slds-p-top_medium">4 mins</p>`

![Screen Shot 2019-05-03 at 10 15 12 AM](https://user-images.githubusercontent.com/1290832/57150760-5d51c600-6d8c-11e9-8f31-1a2f177e1e33.png)

[2019-05-03 19:31] BenF-Lumedic opened #1969 "CSS bundle is massive and can not be easily trimmed"
**Please include in your issue:**

Using any lightning components currently requires including the entire CSS bundle, which comes in, minified, at 532KB. This is potentially a huge amount of unnecessary weight in projects that are only using a small subset of the componentry.

Due to the dynamic assignment of some styles (icons & button variants to name a few) the CSS can not be effectively pruned

[2019-05-03 20:05] interactivellama commented on #1969
I'm going to estimate that our primary consumers of this project have 1.5-2MB bundles of JS/image/CSS, but that's just a guess. Gzip'd the CSS should be less than 100KB. There are SASS source files, but I don't know how easy they are to build from. Have you tried that?

How many KBs are you trying to optimize your CSS delivery down to? How many components are you wanting to use your application's

[2019-05-03 21:19] BenF-Lumedic commented on #1969
Thanks for the quick response! Your first point is a good one, that this optimization may not be very useful to consumers of this project especially after Gzipping, so this thought may be out of scope.

I did manage to build the CSS from the SCSS source, the only issue was the `$static-font-path` in `_config.scss` which I had to change from `'../fonts/webfonts'` to `'../assets/fonts/webfonts'`. I'

[2019-05-03 21:52] interactivellama commented on #1969
I once saw Dan Abramov write web components solve organizational problems or something to that effect. I imagine CSS in JS is similar in a large company. 😄

To be honest, I don't have much influence over how SLDS is packaged. It's primarily packaged up for use in building applications _on the Salesforce Platform_. That said, with web components or custom elements in the future there could be a mor

[2019-05-03 21:52] #1969 closed

[2019-05-06 16:16] #1613 closed

[2019-05-06 17:27] minevskiy opened #1970 "[UNSUPPORTED PROTOTYPE] RTL Support"
RTL stands for right-to-left. Only a few languages use RTL text direction, but over a billion people use them.
Browsers support RTL direction via [dir](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/dir) attribute and [direction](https://developer.mozilla.org/en-US/docs/Web/CSS/direction) CSS property.

While DOM layout direction is automatically flipped by the browser, direct

[2019-05-06 17:28] interactivellama opened #1971 "DataTable: Implement inline Edit pattern"
This is not a request from any consumer at this time. This issue is for awareness. **The primary comment is that the SLDS blueprint does not fully show the pattern.** For instance Inline Edit should be paired with a Docked Footer and other patterns from a 130+ page spec document.

**SLDS spec** https://www.lightningdesignsystem.com/components/data-tables/
**W3C examples** https://www.w3.org/TR/wai

[2019-05-06 23:22] interactivellama commented on #1970
I'm think I'm better understanding our conversation earlier. They already have `onClickOutside`, so we we could add another HOC.

Exploring the react-with-direction makes me wonder if we need to add wrapping span or div around components with a `dir` attribute on it. Do you know if that is needed? I'd guess that flips the built in  tags like `<p>`. I think we could just put it on the outer div of

[2019-05-07 14:34] jgerigmeyer opened #1972 "PageHeader: Support Breadcrumb above heading"
This is somewhat related to #1583, but wasn't fully addressed by #1586.

When a PageHeader with `variant="object-home"` also has a `trail`, the media object is vertically misaligned with the text:

![Screenshot 2019-05-07 10 03 48](https://user-images.githubusercontent.com/552316/57307734-1842d200-70b3-11e9-9a76-8459762c619f.png)

There isn't an exact example on the SLDS page (https://www.lightnin

[2019-05-07 18:05] #1912 closed

[2019-05-07 18:06] interactivellama commented on #1732
@jcjuett

[code]

[2019-05-07 18:32] minevskiy commented on #1970
We don't need to add `dir='rtl'` attribute - it will be added by consumers.
It's typically on the `<html>` node, but we do need a way to override the direction for certain branches of the React tree. Essentially, some components will not support RTL and will always render in LTR. This is achieved by hard-coding `dir='ltr'` on roots of such branches.

Having a single `LanguageDirection` HOC is what

[2019-05-07 21:13] interactivellama commented on #1972
We have plans for this. @kwilloughby for issue visibility. I think this aligns with your request.

Our setup pages need to support a Breadcrumb above a heading. I think the current plan to have a "setup" variant that has a prop that accepts a breadcrumb component.

I don't have an exact timeline for the fix, but our consumer would like this within the next few weeks.

[2019-05-07 21:30] interactivellama commented on #1970
I agree this is the right approach. Thank you for being patient with me to come around. 🙏  I'll take a closer look at the detailed API tonight.

[2019-05-08 23:03] interactivellama commented on #1970
API is approved.

Let's be sure to documents in comments in the source about the expected `html dir='rtl'` so folks know how it's needed. We can probably have some Storybook examples with a `div dir='rtl'` wrapper, too.

[2019-05-08 23:51] davidlygagnon commented on #1970
@interactivellama I chatted with @minevskiy and I'll pick this up.

[2019-05-09 03:12] interactivellama commented on #1970
Sounds good.

![giphy](https://user-images.githubusercontent.com/1290832/57424748-f3934b00-71d5-11e9-9867-863923e8c216.gif)

[2019-05-10 07:46] Niondir opened #1977 "Add CustomDataTableCell"
I solved my issue in #1547 with the following component. Maybe you can just add it to the framework:

[code]

Usage:

[code]

This way you can simply render your own HTML inside a table cell using the `render` prop.

[2019-05-10 08:11] Niondir opened #1978 "DataTable allow multiply cols of the same property"
Currently you can a warning that keys are not unique when having multiple `DataTableColumn` with the same `property` attribute. But that might happens when you do some custom rendering.

A simple fix would be to update in `head.jsx` the `id` and `key` attribute of the `HeaderCell` from:

[code]

to:

[code]

Now you can add a simple `id` attribute to your `DataTableColumn` to fix the warning.

[2019-05-10 08:12] Niondir commented on #1684
Woops I duplicated this in #1978

One might be closed :)

[2019-05-10 08:13] #1978 closed

[2019-05-10 22:50] #1951 closed

[2019-05-10 22:55] interactivellama commented on #1959
@kwilloughby-sf We have declined to do the following item at this time. Please create an additional issue so that we can backlog it, but I don't see it happening soon. In the mean time, I would recommend that the number of slides per panel decrease when the layout no longer works.

[2019-05-12 21:26] #1806 closed

[2019-05-13 05:25] interactivellama commented on #1806
@MacMorgan Did this get worked out with LockerService?

[2019-05-13 16:31] pyojo commented on #1285
I published a pull request that solve the problem. #1976

[2019-05-14 04:39] #1850 closed

[2019-05-14 05:51] #1959 closed

[2019-05-14 06:06] #1952 closed

[2019-05-14 07:45] #1285 closed

[2019-05-14 19:37] kevinparkerson commented on #1884
@aswinshenoy thank you for what you've submitted! We have a need to get this out soon so I will be finishing up the remaining work for now. Good luck with your exams!!!

[2019-05-14 19:51] interactivellama commented on #1972
User Story update. "Record Type: Opportunities" should be able to be changed to a BreadCrumb component in all but Base variant.

Prop proposal:
[code]

![Screen Shot 2019-05-14 at 1 43 00 PM](https://user-images.githubusercontent.com/1290832/57727249-3af25f00-764e-11e9-8bce-52a01d9176d0.png)

[2019-05-14 20:03] interactivellama commented on #1972
Add Setup example

[code]

Example should like the following, except Setup is a link made through `BreadCrumb` component. Icon should be orange in example. See above code.

![image](https://user-images.githubusercontent.com/1290832/57728347-f74d2480-7650-11e9-8c9f-0e3d0fba6aca.png)

[2019-05-14 20:17] interactivellama opened #1980 "Icon: Add background theme colors"
Props proposal:
`backgroundThemeColor="marketing"`

would do the following, but without the `style` tag:

[code]

Add all cloud themes:
* Global Setup #2A739E - (all clouds)
* Service Cloud
R127 G36 B67 Web 7f2443
C37 M96 Y45 K27 Pantone 216C
* Industry Cloud
R76 G34 B72 Web 4c2248
C65 M95 Y9 K40 Pantone 519C
* Sales Cloud
R0 G133 B125 Web 00857d
C96 M0 Y47 K19 Pantone 7717C
* Commerce Cloud
R65 G

[2019-05-14 21:13] interactivellama opened #1981 "PageHeader: Support joined styling with DataTable"
Add `slds-page-header_joined` class ability to PageHeader.

Props proposal: `joined=true`

* This needs to allow removal of top border in DataTable fixed header variant.

Screen capture from Platform:
![Screen Shot 2019-05-14 at 3 00 30 PM](https://user-images.githubusercontent.com/1290832/57731963-29628480-7659-11e9-9b2d-fe510f4f199b.png)

[code]

[2019-05-14 22:50] interactivellama commented on #1977
Thank you for sharing. I'm glad you were able to work around it.

[2019-05-15 21:53] interactivellama opened #1982 "Test Issue creation for Gitter"
This is only a test!

[2019-05-16 03:15] #1982 closed

[2019-05-16 09:10] jericbas commented on #1966
I tried to check this code

https://github.com/salesforce/design-system-react/blob/050bfc98fb0282cf390833a37e3b651080c9c743/components/utilities/dialog/index.jsx#L212-L221

When I notice the `position` props of the condition, I set the `menuPosition="relative"` and it solves my problem.

[2019-05-16 16:45] interactivellama commented on #1966
This might be the same issue with Popper and LockerService as this issue https://github.com/salesforce/design-system-react/issues/1806

[2019-05-16 20:52] davidlygagnon commented on #1970
Chatted with @interactivellama about the use of `/private` folder. The idea is that we don't want to make RTL a publicly supported feature. What we'll do is to prefix the component with `UNSAFE_`, similar to what React does with legacy life cycles methods instead of being in a /private folder. That should avoid confusion about the consumption of features from the /private folder in client code.

[2019-05-16 21:03] #1958 closed

[2019-05-16 21:38] interactivellama commented on #1970
@davidlygagnon Thank you for suggesting another way to caution consumers.

[2019-05-17 17:53] #1925 closed

[2019-05-17 21:17] davidlygagnon opened #1984 "PageHeader component : Adding iconPath to allow passing a custom icon."
As a consumer of `PageHeader` component, I'd like to pass in a custom icon similar to the way it's done for `Button` component.

Prop proposition (same as other components):

[code]

I'll work on this PR.

Please include in your issue:

* If you are working on the problem. Issues may be closed within 30 days if no one is assigned. Maintainers work on this project 20-30 hours per week and have thei

[2019-05-18 06:04] #1648 closed

[2019-05-18 19:06] #1696 closed

[2019-05-19 04:37] #1647 closed

[2019-05-20 14:53] interactivellama opened #1988 "Fix medium DeepScan Code quality issues"
See https://deepscan.io/dashboard/#view=project&tid=616&pid=1475&bid=4666&subview=issues&impact=%5B%22Medium%22%5D&page=1

[2019-05-20 16:44] interactivellama commented on #1984
Please pass in `Icon: <Icon/>` prop instead and deprecate iconName/iconCategory.

[2019-05-20 16:46] kevinparkerson opened #1990 "Progress Ring: Add flowDirection prop"
There are two directions the Progress Ring can flow: drained and filled:

https://www.lightningdesignsystem.com/components/progress-ring/#Partially-Drained
https://www.lightningdesignsystem.com/components/progress-ring/#Partially-Filled

The current Progress Ring component does not account for this, simply opting for the drained direction. Adding this feature will allow better use of the component

[2019-05-20 17:55] kevinparkerson commented on #1884
example of configuration via a SetupAssistantStep component:
[code]

[2019-05-20 17:56] kevinparkerson commented on #1884
PropTypes for SetupAssistantStep component:
[code]

[2019-05-20 17:57] interactivellama commented on #1884
We also need the scoped notification option above the `ProgressIndicator`.

[2019-05-20 17:59] interactivellama commented on #1884
@kevinparkerson I wonder if we could use Context to have the `ProgressIndicator` update the ProgressRing to the appropriate number of steps? That would eliminate the need for `progress` prop.

What do you think about that? @garygong

[2019-05-20 17:59] kevinparkerson commented on #1884
Weren't we taking care of that via `onRenderContent`?

[2019-05-20 18:07] kevinparkerson commented on #1884
@interactivellama @garygong the `progress` prop is also what controls visibility of the Progress Ring per step. If the value is undefined, no Progress Ring is rendered. This is to support the base use case of Setup Assistant:

https://www.lightningdesignsystem.com/components/setup-assistant/#Base

If we remove `progress`, we'll need another boolean prop at either the SetupAssistantStep or SetupAss

[2019-05-21 06:09] #1990 closed

[2019-05-21 15:21] interactivellama commented on #1988
**WARNING:** This removes the possibility of switching from a uncontrolled `defaultValue` in form elements to a controlled `value`. Consumers should never be doing this without unmounting components first, but it's possible if consumers are switching between uncontrolled and controlled components that this will break their applications. See https://reactjs.org/docs/uncontrolled-components.html

Th

[2019-05-21 21:10] interactivellama opened #1992 "Review accessing state to set state"
Currently `MenuDropdown` and `Combobox` are accessing the current state `this.state` in order to set a new state.

The correct procedure should be to use a callback:
https://medium.com/@voonminghann/when-to-use-callback-function-of-setstate-in-react-37fff67e5a6c
[code]

Search for `// eslint-disable-next-line react/no-access-state-in-setstate` in order to fix this issue.

[2019-05-21 22:13] interactivellama opened #1993 "Add AppLauncher Section back"
This is in case anyone is currently using `AppLauncherSection`

[2019-05-21 22:39] #1993 closed

[2019-05-22 04:58] #1988 closed

[2019-05-23 01:03] kevinparkerson opened #1995 "Expandable Section is missing doc site file"
Pretty straightforward, just add that thing so it can work right on the site.

[2019-05-23 03:03] #1823 closed

[2019-05-23 03:21] #1995 closed

[2019-05-23 16:37] interactivellama commented on #1836
* [Lightning tree grid component](https://developer.salesforce.com/docs/component-library/bundle/lightning:treeGrid/example#lightningcomponentdemo:exampleTreeGridWithExpandedStateQuery)
* [SLDS tree grid blueprint](https://www.lightningdesignsystem.com/components/tree-grid/)
* [ARIA tree grid spec](https://www.w3.org/TR/wai-aria-practices-1.1/#treegrid)
* [ARIA tree grid example](https://www.w3.or

[2019-05-23 16:48] interactivellama commented on #1836
The keyboard spec for TreeGrid is undetermined at this time. The follow is background.

## Comments from the Accessibility Team

### How do you toggle a row?
* Press Tab key to get into the tree grid.
* Optionally, press Up/Down to get into the row that you'd like to toggle.
* If your focus is in a cell, you first have to focus the row, which you can do by pressing the Left arrow key repeatedly un

[2019-05-23 20:16] #1830 closed

[2019-05-25 23:27] DougMidgley opened #1997 "Seeming incompatibility with Babel7"
Looking to build an example template using express, webpack 4 and babel 7 but am struggling with some of the webpack aspects.
Code visible here : https://github.com/DougMidgley/slds-react-template
It seems that when compiling some very basic example that Class Properties used in the SDLS Components are causing the following error

[code]

As per the repo you can see that the webpack plugin for man

[2019-05-28 17:06] pulkonet commented on #1980
I will take this

[2019-05-28 17:07] pulkonet commented on #1910
I shall get this merged

[2019-05-28 17:07] pulkonet commented on #1910
I shall get this merged

[2019-05-28 17:07] pulkonet commented on #1898
I shall get this merged

[2019-05-28 17:12] pulkonet opened #1999 "Add vertical progress bar"
Add vertical progress bar according to https://lightningdesignsystem.com/components/progress-bar/#Vertical

[2019-05-28 17:12] pulkonet commented on #1999
I will take this up

[2019-05-30 15:12] logoscreative commented on #1836
Huge +1 to this work—it would be immediately valuable to my teams and me, personally. I'm happy to answer any questions to help!

[2019-05-30 15:43] interactivellama opened #2000 "Modal: Add small width option"
Add ability to add `slds-modal_small` to Modal

[2019-05-30 15:44] interactivellama commented on #2000
Please propose props API.

[2019-05-30 17:47] aswinshenoy commented on #2000
I will go ahead and add the option to set size "small" -
``` size: PropTypes.oneOf(['small','medium', 'large']) ```

[2019-05-30 18:50] interactivellama commented on #2000
Approved.

[2019-05-30 20:06] #2000 closed

[2019-05-31 04:33] interactivellama opened #2003 "Combobox: ARIA attributes are invalid"
Fix the following issues in Combobox:

[code]

[2019-06-01 02:20] #1884 closed

[2019-06-02 16:46] pulkonet opened #2006 "Add Trial Bar Component"
Add Trial Bar Component according to specs https://lightningdesignsystem.com/components/trial-bar/

I am working on this and will send a prop proposal soon.

[2019-06-02 16:53] pulkonet commented on #2006
Here is my initial props proposal:

Name | Type | Description |
| ------ | ------ | ------ |
||||
||||

[2019-06-03 07:23] #1851 closed

[2019-06-03 10:09] davidakerr commented on #1621
Adding the babel preset to a fresh create react app breaks serviceWorker.js
```TypeError: Cannot read property 'bindings' of null```

[2019-06-03 15:28] interactivellama commented on #1621
I guessing we have old Babel presets.

The preset config is located at
https://github.com/salesforce/design-system-react/tree/master/preset

But eventually will be moved to https://github.com/salesforce/babel-preset-design-system-react

[2019-06-03 18:10] garygong commented on #1999
What do you think about this for the prop:
[code]

[2019-06-03 18:15] garygong commented on #1910
@pulkonet Is it ok if we do the `vertical-navigation` component next, instead?  If so, I'll replace this issue with `vertical-navigation` for this eval period.

[2019-06-03 18:22] pulkonet commented on #1910
Yes, it is completely fine with me.

[2019-06-03 18:23] garygong commented on #1910
For `vertical-navigation`, it looks like we have the base variant, but we need to modify the props to support the examples listed here:

https://lightningdesignsystem.com/components/vertical-navigation/#Examples

And also, we need to add the Radio Group variant.  Do you want to come up with the props proposal for this? Thanks!

[2019-06-03 18:25] pulkonet commented on #1999
I can add an initial PR for the same.

[2019-06-03 18:28] jcjuett opened #2007 "Tree: button must have discernible text"
http://design-system-react-components.herokuapp.com/?selectedKind=SLDSTree&selectedStory=Base&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel
(error occurs in all Trees states except Overflow Hidden and Large dataset)

Correction is necessary because assistive text is missing (even though item 1 of 4 does not appear as expandable)

HTML: `<div class="slds-tree

[2019-06-03 18:29] pulkonet commented on #1910
I will open an issue for it, and add a props proposal. I shall start working on this once I post a working PR for TrialBar though.

[2019-06-03 18:59] pulkonet commented on #2006
@garygong @davidlygagnon Please see if the props are plausible, I will raise a PR for the same tomorrow morning.

[2019-06-03 19:38] interactivellama commented on #2006
@garygong We may want this API to look something more like `BuilderHeader`. https://react.lightningdesignsystem.com/components/builder-header/

[2019-06-03 19:52] garygong commented on #1999
Looks like there is already `progress-indicator` with `orientation: 'horizontal' | 'vertical'`.  Let's just use that to be consistent.

[2019-06-03 21:01] kwilloughby-sf opened #2008 "Setup Assistant With Steps: Incorrect Formatting"
Please see the image below. This impacts all variants **except** Base.

The title, text, buttons/links are too high. It appears all the variants with steps are missing two divs. At first, we thought it was just missing a class but I am fairly sure it's missing two divs that Base does not have.

![comparison](https://user-images.githubusercontent.com/42620858/58834360-37387380-8621-11e9-8cd2-e5e4bd

[2019-06-03 22:07] #1361 closed

[2019-06-04 03:51] garygong commented on #2006
If we were to have the API be more like `BuilderHeader`, here's what it would look like.  I actually like this.  What do you think?

### TrialBar
Name | Type | Description
| ----- | ----- | ----- |
| onRenderActions | function | Renders the actions section of the trial bar. |
| children | Element[] | `<TrialBarButton />` and `<TrialBarDropdown />` |
| className | string | CSS classes to be added t

[2019-06-04 13:54] davidakerr opened #2009 "Radio Group: Update labels from props after instance construction"
I'm trying to update the error state on my Radio Group form item.  I can't figure out how to do it programatically.  If I set it explicitly as having an error it shows fine. If I add the error at runtime it does not update.

I think maybe having an error prop would be better?

Here's my problem on codesandbox:
https://codesandbox.io/embed/wonderful-raman-5lc9w

[2019-06-04 20:33] davidakerr commented on #1621
@interactivellama  I'm trying to use the master branch in my project in order to add some features to the input elements (I find the way the components are written to be easier to work with).  I get the error:

[code]

Do I have any hope of using the master branch ?

[2019-06-04 20:35] davidakerr commented on #1621
@interactivellama  I'm trying to use the master branch in my project in order to add some features to the input elements (I find the way the components are written to be easier to work with).  I get the error:

[code]

Do I have any hope of using the master branch ?

[2019-06-05 14:55] PaulaIoana opened #2012 "Required changes to setup-assistant component"
In order to match MC Setup design specs for the Setup Assistant Page, the following are needed
- in step.jsx the ProgressRing component should receive the flowDirection = 'fill' prop with the colour blue.
Expected:
![Screen Shot 2019-06-05 at 17 53 53](https://user-images.githubusercontent.com/26438120/58966439-fa07e900-87ba-11e9-856e-713e99f2d9d2.png)

- the expand/collapse arrow, ProgressRing an

[2019-06-05 15:08] interactivellama opened #2013 "Progress Ring: Add active step"
https://www.lightningdesignsystem.com/components/progress-ring/#Active-Step

Prop proposal: Use existing theme prop.

`theme: 'active'`

[2019-06-05 15:10] interactivellama commented on #2012
Both these are missing features that should exist.

* Issue created for item one. See #2013
* Transferring Item two to existing item #2008

Closing this issue.

[2019-06-05 15:10] #2012 closed

[2019-06-05 15:11] interactivellama commented on #2013
@PaulaIoana

[2019-06-05 15:11] interactivellama commented on #2008
@PaulaIoana

[2019-06-05 15:23] jcjuett opened #2014 "Colorpicker: ARIA attribute must conform to valid value"
https://design-system-react-co-pr-2004.herokuapp.com/?selectedKind=SLDSColorPicker&selectedStory=Default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Issue: Automated aXe test fails ARIA attribute.
expect(received).toHaveNoViolations(expected)

    Expected the HTML found at $('#color-picker-summary-input-default-color-picker') to have no violations:

   `

[2019-06-05 18:13] jcjuett opened #2015 "Checkbox: "this field has an error" message not read by screen reader"
http://design-system-react-components.herokuapp.com/?selectedKind=SLDSCheckbox&selectedStory=Checkbox%20Toggle%20%28with%20error%29&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

and all other Toggle Error examples. The following links are out of date though and http://design-system-react-components.herokuapp.com/ should be used.

https://design-system-react

[2019-06-05 18:15] jcjuett commented on #2015
Not sure which component label to give this issue.

[2019-06-05 18:54] jcjuett opened #2016 "MenuDropdown: Buttons must have discernible text (button-name)"
https://design-system-react-co-pr-2004.herokuapp.com/?selectedKind=SLDSMenuDropdown&selectedStory=Custom%20Trigger&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Issue: Custom trigger state fails automated aXe test for discernible button name.

HTML: `<button class="slds-button slds-button_neutral ignore-click-Sk5s0KB0E" tabindex="-1" type="button" aria-expa

[2019-06-06 03:02] interactivellama commented on #2006
Looks good to me.

Two comments
* I think we have a success variant Button, but the text isn't looking right--It's still blue. That might need to be fixed. It looks like it's actually a link though. Should we have a link/button mix of props for Button or maybe a Link component? Feel free to proceed though. This can be added in the future.
* We may want the time left strings in a labels object, so

[2019-06-06 04:17] garygong commented on #2006
Good point.  I updated the example above to use time left.  I left the success link (button??) in a render function so that consumers can have that additional flexibility.

By "link/button mix of props" do you mean that we'd have something like a `<Button link />` prop that would cause `<a>` to be used instead of `<button>`?  This seems to be consistent with how the [SLDS Button page](https://ligh

[2019-06-06 13:52] interactivellama commented on #2006
Yes. Something like that. We’d deprecate link variant I think so that the link prop could be any of the button variants.

[2019-06-06 13:59] interactivellama commented on #2006
@aswinshenoy might be interested in picking up the button/link issue. The user story still needs to be groomed /spec decides, but props could be proposed. @aswinshenoy would you be interested in working on the missing button options for the first evaluation period?